a {
    color: #fff !important;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.blogImage {
    width: 100%;
    height: 100%;
}

.comment-body {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}

.comment-body p {
    color: #000000;
    margin-bottom: 0px;
}
