/* ======================================
Global Variables
========================================= */
:root {
    --hrbgColor: #192A51;
    --hrFontFamily: 'IBM Plex Mono', monospace;
    --letterSpacing: 0.15em;
    --hrColorWhite: #fff;
    --hrColorOrange: #F29576;
    --hrColorBeige: #F9E9D5;
    --hrTextColorGrey: #8893AF;
    --hrSectionMargin: 0px auto; 
    --hrSectionMaxWidth: 1000px;
    --heroSectionPaddingBlock: 20vh;
    --hrFooterSectionPaddingBlock: 3vh;
    --hrFontSmoothing: antialiased;
    --aboutMeSectionPaddingBlock: 20vh;
    --experienceSectionPaddingBlock: 10vh;
    --toolsSectionPaddingBlock: 10vh;
    --workSectionPaddingBlock: 10vh;
}
/* ========================================= */

/* ======================================
BASE CSS
========================================= */
html {
    scroll-behavior: smooth;
}

.hrLineBreak {
    border-top: 1px solid var(--hrColorWhite);
    margin-bottom: 30px;
}

.hrBody {
    background-color: var(--hrbgColor);
    font-family: var(--hrFontFamily);
    color: var(--hrColorWhite);
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--hrbgColor);
    display:flex;
    justify-content: center;
    align-items: center;
}

.hDesktopLoader {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    animation: circle-size 3s infinite ease;
}

@keyframes circle-size {
    from {
        width: 50px;
        height: 50px;
    }
    to {
        width: 300px;
        height: 300px;
    }
}

/* ======================================
HERO SECTION
========================================= */
.animate__animated.animate__hinge {
    --animate-duration: 3s;
}

.ball {
    height: 10px;
    width: 10px;
    border-radius: 100px;
    position: absolute;
    top: 46px;
    left: 670px;
    
    box-shadow: inset 0 0 18px #fff, 
        inset 6px 0 18px violet, 
        inset -6px 0 18px #0ff, 
        inset 6px 0 30px violet, 
        inset -6px 0 30px #0ff, 
        0 0 18px #fff, -4px 
        0 18px violet, 4px 0 18px #0ff;
}
    
.heroSection {
    margin: var(--hrSectionMargin);
    max-width: var(--hrSectionMaxWidth);
    padding-block: var(--heroSectionPaddingBlock);
    -webkit-font-smoothing: var(--hrFontSmoothing);

    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
        -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 3; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 3; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 3; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 3; }
}


.heroP {
    color: var(--hrColorOrange);
    font-size: clamp(0.875rem, 2vw, 1.5rem);
    margin-top: 10px;
}

.heroH2 {
    color: var(--hrColorBeige);
    font-size: clamp(30px, 8vw, 58px);
    font-weight: 900;
    margin-top: 10px;
    line-height: 0.9;
}

.heroH3 {
    margin-top: 10px;
    font-size: clamp(30px, 8vw, 58px);
    color: var(--hrTextColorGrey);
    position: relative;
}

strong {
    color: var(--hrColorOrange);
}

.heroBlurb {
    margin: 20px 0px 0px;
    color: var(--hrTextColorGrey);
    -webkit-font-smoothing: var(--hrFontSmoothing);
    font-size: 1rem;
}

.heroWeb::after {
    content: '';
    width: 13%;
    position: absolute;
    bottom: -8px;
    left: 560px;
    height: 6px;
    display: block;
    z-index: 5;
    background: #FF9575;
    transform: rotate(-5deg);
    border-radius: 5px;
}

.heroWeb:hover::after {
    transform: rotate(0deg);
    width: 17%;
    left: 535px;
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
}

.scroll-downs {
    margin: auto;
    width :34px;
    height: 55px;
    margin-bottom: 50px;
    bottom: 50px;
    left: 50% !important;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

.content-tertiary .heroP span {
    animation: wobble 2.5s infinite;
    display: inline-block;
}

@keyframes wobble {
    0% {transform: translateZ(0) scale(1);}
    15% {transform: translate3d(-25%,0,0) rotate(-5deg) scale(1.1);}
    30% {transform: translate3d(20%,0,0) rotate(3deg) scale(1.2);}
    45% {transform: translate3d(-15%,0,0) rotate(-3deg) scale(1.3);}
    60% {transform: translate3d(10%,0,0) rotate(2deg) scale(1.2);}
    75% {transform: translate3d(-5%,0,0) rotate(-1deg) scale(1.1);}
    100% {transform: translateZ(0) scale(1);}
}

/* ======================================
ABOUT SECTION
========================================= */
.aboutSection {
    margin: var(--hrSectionMargin);
    max-width: var(--hrSectionMaxWidth);
    padding-block: var(--aboutMeSectionPaddingBlock);
    -webkit-font-smoothing: var(--hrFontSmoothing);
}

.aboutMeImage {
    width: 100%;
    object-fit: cover;
    max-width: 500px;
    display: block;
}

.aboutHeading {
    color: var(--hrColorBeige);
    font-size: 2rem;
}

.aboutHeading::before {
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
}

.aboutBlurb {
    color: var(--hrTextColorGrey);
    -webkit-font-smoothing: var(--hrFontSmoothing);
    word-wrap: break-word;
}

.aboutPictureWrapper {
    background-color: #192A51;
    position: relative;
    box-shadow: 0 10px 30px -15px #f29576;
    background-image: linear-gradient(318deg, #F29576, #F9E9D5);
}

.aboutPictureWrapper::before {
    border: 2px solid #F9E9D5;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    top: 10px;
    position: absolute;
    z-index: -1;
    right: 10px;
    transition: transform 1s;
}

.aboutPictureWrapper::after {
    border: 2px solid var(--hrColorOrange);
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    top: 20px;
    position: absolute;
    z-index: -1;
    right: 20px;
    transition: transform 1s;
}

.aboutPictureWrapper:hover::after {
    transition: transform 1s;
    transform: translateY(-20px) translateX(20px);
}

.aboutPictureWrapper:hover::before {
    transition: transform 1s;
    transform: translateY(-10px) translateX(10px);
}

.pictureTag {
    filter: grayscale(50%) contrast(1);
}

.forHire {
    position: relative;
    -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0,0,0,.2));
}

.forHire span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: forHire 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes forHire {
    0%,40%,100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-2px)
    }
}

/* ======================================
EXPERIENCE SECTION
========================================= */
.experienceSection {
    margin: var(--hrSectionMargin);
    padding-block: var(--experienceSectionPaddingBlock);
    -webkit-font-smoothing: var(--hrFontSmoothing);
}

.experienceHeading {
    color: var(--hrColorBeige);
    font-size: 2rem;
}

.experienceHeading::before {
    counter-increment: section 2;
    content: "0" counter(section) ".";
    margin-right: 10px;
}

.historyBubble {
    color: white;
    border-radius: 20px;
    padding: 1.5em;
    box-shadow: 0 5px 30px -20px white;
}

.PicSpotrBG {
    overflow: hidden;
}

.PicSpotrBG::before {
    background-image: url('https://uploads-ssl.webflow.com/5fd576424a6309c3ea8f7634/5fd576aa837d13fb2c864e23_logo-p-500.png');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 37px;
    opacity: 0.1;
    width: 90%;
}

.PicSpotrBG:hover::before{
    transition: transform .35s ease;
    transform: scale(2);
}

.LiHEBG {
    overflow: hidden;
}

.LiHEBG::before {
    background-image: url('https://latinosinhighered.com/imglib/lihe-logo-svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 37px;
    opacity: 0.1;
    width: 90%;
}

.LiHEBG:hover::before{
    transition: transform .35s ease;
    transform: scale(2);
}

.IndependentSoftwareBG {
    overflow: hidden;
}

.IndependentSoftwareBG::before {
    background-image: url('https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/128x128/0963a6da89f0aed01480d87ece8162c5');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 300px;
    opacity: 0.1;
    width: 15%;
}

.IndependentSoftwareBG:hover::before{
    transition: transform .35s ease;
    transform: scale(2);
}

.CALAHEBG {
    overflow: hidden;
}

.CALAHEBG::before {
    background-image: url('https://calahe.org/s/cdn/v1.0/i/m?url=https%3A%2F%2Fstorage.googleapis.com%2Fproduction-constantcontact-v1-0-3%2F503%2F518503%2FVbzi60dC%2F38fd919bc18b4f45aa86a9c1c1970ace&methods=resize%2C500%2C5000');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 37px;
    opacity: 0.1;
    width: 90%;
}

.CALAHEBG:hover::before{
    transition: transform .35s ease;
    transform: scale(2);
}

.TKHBG {
    overflow: hidden;
}

.TKHBG::before {
    background-image: url('https://d2x0vsetbcibj0.cloudfront.net/static-final/assets/img/sec_logo2sec.png');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 37px;
    opacity: 0.1;
    width: 90%;
}

.TKHBG:hover::before{
    transition: transform .35s ease;
    transform: scale(2);
}

.TinyOrganicsBG {
    overflow: hidden;
}

.TinyOrganicsBG::before {
    background-image: url('https://cdn.shopify.com/s/files/1/0018/4650/9667/files/Tiny-Logos-ALL-01_1_6f7a4e61-2612-4f4b-8327-62b0ed2413be_300x300.png?v=1624156432');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 37px;
    opacity: 0.1;
    width: 90%;
}

.TinyOrganicsBG:hover::before{
    transition: transform .35s ease;
    transform: scale(2);
}

/* ======================================
TOOLING SECTION
========================================= */
.toolsSection {
    margin: var(--hrSectionMargin);
    padding-block: var(--toolsSectionPaddingBlock);
    -webkit-font-smoothing: var(--hrFontSmoothing);
}

.toolsHeading {
    color: var(--hrColorBeige);
    font-size: 2rem;
}

.toolsHeading::before {
    counter-increment: section 3;
    content: "0" counter(section) ".";
    margin-right: 10px;
}

.devicon-jquery-plain, 
.devicon-django-plain,
.devicon-postgresql-plain,
.devicon-mongodb-plain,
.devicon-heroku-original,
.devicon-vscode-plain {
    font-size: 5rem;
}

/* ======================================
WORK SECTION
========================================= */
.card a {
    color: var(--hrColorWhite) !important;
}

.badge {
    background-color: #E9743F;
    border-radius: 4px;
    font-size: 80%  !important;
}

.card-body {
    border-top: 5px solid var(--hrColorOrange) !important;
}

.card-body h1 {
    font-size: 2rem;
}

.cardBodyHighlanderBG {
    overflow: hidden;
}

.cardBodyHighlanderBG::before {
    background-image: url('pages/images/highlanderHome.png');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.1;
    width: 100%;
}

.cardBodyHighlanderBG:hover::before{
    transition: transform .35s ease;
    transform: scale(2);
}

.cardBodyHromancodesBG {
    overflow: hidden;
}

.cardBodyHromancodesBG::before {
    background-image: url('pages/images/Hroman_codes.png');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.1;
    width: 100%;
}

.cardBodyHromancodesBG:hover::before{
    transition: transform .35s ease;
    transform: scale(2);
}


.experienceButtonGroup {
    justify-content: space-around !important; 
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: var(--hrColorWhite);
}
  
.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
}

.timeline ul li > div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) > div {
    background-color: #F8F8F8;
    color: var(--hrColorWhite);
    left: 45px;
    opacity: 0.9;
}


.timeline ul li:nth-child(odd) > div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F8F8F8 transparent transparent;
}


.timeline ul li:nth-child(even) > div {
    background-color: #F8F8F8;
    /* color: #726f77; */
    left: -439px;
/* left: -550px; */
}

.timeline ul li:nth-child(even) > div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #F8F8F8;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: var(--hrColorWhite);
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.workSection {
    margin: var(--hrSectionMargin);
    padding-block: var(--workSectionPaddingBlock);
    -webkit-font-smoothing: var(--hrFontSmoothing);
}

.workHeading {
    color: var(--hrColorBeige);
    font-size: 2rem;
    text-transform: uppercase;
}

.workHeading::before {
    counter-increment: section 4;
    content: "0" counter(section) ".";
    margin-right: 10px;
}

.workCard {
    background-color: transparent !important;
    box-shadow: 0 5px 30px -20px white;
}

/*=========================================
    Media Queries
/* ======================================
    Breakpoint	      Purpose
    (default)	          Mobile-portrait
    max-width: 320px	  Mobile-landscape (and larger)
    max-width: 375px	  Mobile-landscape (and larger)
    max-width: 480px	  Mobile-landscape (and larger)
    max-width: 576px	  Mobile-landscape (and larger)
    max-width: 768px	  Tablet-portrait (and larger)
    max-width: 992px	  Tablet-landscape (and larger)
    max-width: 1200px	  Laptops (and larger)
    max-width: 1400px	  Laptops (and larger)
========================================= */
@media all and (max-width: 3000px) and (max-height: 900px) {
    .mousey {
        display: none;
    }
}

@media all and (max-width: 3000px) {
    .toolContainer {
        max-width: 1007px !important;
    }
}

@media all and (max-width: 991px) {
    .container {
        max-width: 800px;
    }

    .aboutPictureWrapper {
        background-color: #192A51;
        position: relative;
        width: 40vw;
        height: auto;
        box-shadow: 0 10px 30px -15px #f29576;
        background-image: linear-gradient(318deg, #F29576, #F9E9D5);
        max-width: 65%;
    }

    .hrImgThumbnailMobile {
        padding: 0px !important;
        background-color: #192A51 !important;
        box-shadow: 0 10px 30px -15px #f29576;
    }

    .forHire {
        margin-bottom: 50px;
    }
}

@media all and (max-width: 768px) and (max-height: 900px) {
    .mousey {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .ball {
        top: 27px;
        left: 425px;
    }

    .container {
        max-width: 650px !important;
    }

    .heroP {
        font-size: 1.3rem;
    }
    
    .heroH2 {
        font-size: 3rem;
    }

    .heroH3 {
        font-size: 2.3rem;
    }

    .aboutPictureWrapper {
        background-color: #192A51;
        position: relative;
        width: 40vw;
        height: auto;
        box-shadow: 0 10px 30px -15px #f29576;
        background-image: linear-gradient(318deg, #F29576, #F9E9D5);
    }

    .heroWeb::after {
        left: 355px;
    }

    .heroWeb:hover::after {
        width: 15%;
        left: 350px;
    }
}

@media all and (max-width: 576px) {
    .container {
        max-width: 500px !important;
    }

    .heroP {
        margin-bottom: 15px;
    }

    .heroH2 {
        font-size: 2.3rem;
    }

    .heroWeb::after {
        width: 17%;
    }

    .heroWeb:hover::after {
        width: 20%;
    }

    .tkhPositionLetterSpace {
        letter-spacing: -1px;
    }
}

@media all and (max-width: 480px) {
    .ball {
        top: 20px;
        left: 296px;
        height: 7px;
        width: 7px;
    }

    .container {
        max-width: 460px !important;  
    }

    .heroSection {
        padding-top: 114.800;
    }

    .heroP {
        font-size: 1rem;
    }

    .heroH2 {
        font-size: 2rem;
    }
    
    .heroH3 {
        font-size: 1.6rem;
    }

    .heroBlurb {
        font-size: 0.8rem;
    }

    .heroWeb::after {
        width: 16%;
        left: 245px;
    }

    .heroWeb:hover::after {
        width: 18%;
        left: 240px;
    }

    .TinyOrganicsBG::before,
    .LiHEBG::before, 
    .PicSpotrBG::before,
    .TKHBG::before {
        width: 85%;
    }

    .IndependentSoftwareBG::before {
        width: 27%;
        left: 175px;
    }
    
    .tkhPositionLetterSpace {
        letter-spacing: -2px;
    }

    .tinyOrganicsWorkYears {
        font-size: 1.2rem;
    }

    .tkhTitleAndPosition {
        font-size: 0.8rem;
    }
    
    .tkhPositionLetterSpace {
        letter-spacing: -1px;
    }

    .tkhWorkYears {
        font-size: 1.2rem;
    }

    .calaheWorkYears {
        font-size: 1.2rem;
    }

    .independentSoftwareTitleAndPosition {
        font-size: 0.8rem;
    }

    .liheWorkYears {
        font-size: 1.2rem;
    }

    .picSpotrTitleAndPosition {
        font-size: 0.9rem;
    }

    .picSpotrWorkYears {
        font-size: 1.2rem;
    }
}

@media all and (max-width: 375px) {
    .herorSection {
        padding-top: 90px !important;
    }

    .IndependentSoftwareBG::before {
        width: 40%;
        left: 120px;
    }

    .tinyOrganicsTitleAndPosition {
        font-size: 0.9rem;
    }

    .tkhTitleAndPosition {
        font-size: 0.8rem;
    }

    .tkhWorkYears {
        font-size: 1.2rem;
    }

    .calaheWorkYears {
        font-size: 1.2rem;
    }

    .independentSoftwareTitleAndPosition {
        font-size: 0.8rem;
    }

    .liheTitleAndPosition {
        font-size: 0.9rem;
        letter-spacing: -1px;
    }

    .liheWorkYears {
        font-size: 1.2rem;
    }

    .picSpotrWorkYears {
        font-size: 1.2rem;
    }
}

@media all and (max-width: 360px) {
    .tinyOrganicsWorkYears {
        font-size: 1.1rem;
    }

    .tkhWorkYears {
        font-size: 1.1rem;
    }

    .calaheWorkYears {
        font-size: 1.1rem;
    }

    .independentSoftwareTitleAndPosition {
        font-size: 0.7rem;
    }

    .liheWorkYears {
        font-size: 1.1rem;
    }

    .picSpotrWorkYears {
        font-size: 1.1rem;
    }
}

@media all and (max-width: 320px) {
    .aboutPictureWrapper {
        min-width: 80%;
    }

    .ball {
        top: 16px;
        left: 260px;
        height: 6px;
        width: 6px;
    }

    .heroBlurb {
        font-size: 1rem;;
    }

    .heroP {
        font-size: 1.2rem;
    }

    .heroH2 {
        font-size: 1.8rem;
    }

    .heroH3 {
        font-size: 1.4rem;
    }

    .heroWeb::after {
        width: 16%;
        left: 215px;
    }

    .heroWeb:hover::after {
        width: 18%;
        left: 215px;
    }

    .tinyOrganicsTitleAndPosition {
        font-size: 0.788rem;
    }

    .tinyOrganicsWorkYears {
        font-size: 0.9rem;
    }

    .tkhTitleAndPosition {
        font-size: 0.7rem;;
    }

    .tkhWorkYears {
        font-size: 0.9rem;
    }

    .calaheWorkYears {
        font-size: 0.9rem;
    }

    .calaheTitleAndPosition {
        font-size: 0.788rem;
    }

    .independentSoftwareTitleAndPosition {
        font-size: 0.6rem;
    }

    .liheTitleAndPosition {
        font-size: 0.8rem;
        letter-spacing: -1px;
    }

    .liheWorkYears {
        font-size: 0.9rem;
    }

    .picSpotrTitleAndPosition {
        font-size: 0.9rem;
    }

    .picSpotrWorkYears {
        font-size: 1.2rem;
    }
    
}

@media all and (max-width: 280px) {
    .ball {
        left: 241px;
    }

    .heroH2 {
        font-size: 1.5rem;
    }

    .heroH3 {
        font-size: 1.3rem;
    }

    .heroWeb::after {
        width: 16%;
        left: 200px;
    }

    .heroWeb:hover::after {
        width: 18%;
        left: 200px;
    }

    .tinyOrganicsTitleAndPosition {
        font-size: 0.6rem;
    }

    .tinyOrganicsWorkYears {
        font-size: 0.7rem;
    }

    .tkhTitleAndPosition {
        font-size: 0.5rem;
    }
    
    .tkhPositionLetterSpace {
        letter-spacing: -1px;
    }

    .tkhWorkYears {
        font-size: 0.7rem;
    }

    .calaheWorkYears {
        font-size: 0.7rem;
    }

    .calaheTitleAndPosition {
        font-size: 0.6rem;
    }

    .independentSoftwareTitleAndPosition {
        font-size: 0.5rem;
    }

    .liheTitleAndPosition {
        font-size: 0.7rem;
        letter-spacing: -1px;
    }

    .liheWorkYears {
        font-size: 0.7rem;
    }

    .picSpotrTitleAndPosition {
        font-size: 0.7rem;
    }

    .picSpotrWorkYears {
        font-size: 0.9rem;
    }
}
