/* ======================================
Global Variables
========================================= */
:root {
    --hrbgColor: #192A51;
    --hrFontFamily: 'IBM Plex Mono', monospace;
    --letterSpacing: 0.15em;
    --hrColorWhite: #fff;
    --hrColorOrange: #F29576;
    --hrColorBeige: #F9E9D5;
    --hrTextColorGrey: #8893AF;
    --hrSectionMargin: 0px auto; 
    --hrSectionMaxWidth: 1000px;
    --hrSectionPaddingBlock: 20vh;
    --hrFooterSectionPaddingBlock: 3vh;
}
/* ========================================= */

/* BASE CSS  */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--hrbgColor);
    font-family: var(--hrFontFamily);
    color: var(--hrColorWhite);
    border: 1px solid red !important;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--hrbgColor);
    display:flex;
    justify-content: center;
    align-items: center;
}

.hDesktopLoader {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    animation: circle-size 3s infinite ease;
}

@keyframes circle-size {
    from {
        width: 50px;
        height: 50px;
    }
    to {
        width: 300px;
        height: 300px;
    }
}

/* HERO SECTION   */
.hrSection {
    margin: var(--hrSectionMargin);
    max-width: var(--hrSectionMaxWidth);
    padding-block: var(--hrSectionPaddingBlock);

    -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 8s; /* Firefox < 16 */
        -ms-animation: fadein 8s; /* Internet Explorer */
            -o-animation: fadein 8s; /* Opera < 12.1 */
            animation: fadein 8s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 3; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 3; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 33; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 3; }
}


.heroP {
    color: var(--hrColorOrange);
    font-size: clamp(0.875rem, 2vw, 1.5rem);
    margin-top: 10px;
}

.heroH2 {
    font-size: clamp(30px, 8vw, 58px);
    font-weight: 900;
    margin-top: 10px;
    line-height: 0.9;
}

.heroH3 {
    margin-top: 10px;
    font-size: clamp(30px, 8vw, 58px);
    color: var(--hrTextColorGrey);
    position: relative;
}

strong {
    color: var(--hrColorOrange);
}

.heroBlurb {
    margin: 20px 0px 0px;
    color: var(--hrTextColorGrey);
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
}

.heroWeb::after {
    content: '';
    width: 13%;
    position: absolute;
    bottom: -8px;
    left: 560px;
    height: 6px;
    display: block;
    z-index: 5;
    background: #FF9575;
    transform: rotate(-5deg);
    border-radius: 5px;
}

.heroWeb:hover::after {
    transform: rotate(0deg);
    width: 17%;
    left: 535px;
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
}

.scroll-downs {
    margin: auto;
    width :34px;
    height: 55px;
    margin-bottom: 50px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

.content-tertiary .heroP span {
    animation: wobble 2.5s infinite;
    display: inline-block;
}

@keyframes wobble {
    0% {transform: translateZ(0) scale(1);}
    15% {transform: translate3d(-25%,0,0) rotate(-5deg) scale(1.1);}
    30% {transform: translate3d(20%,0,0) rotate(3deg) scale(1.2);}
    45% {transform: translate3d(-15%,0,0) rotate(-3deg) scale(1.3);}
    60% {transform: translate3d(10%,0,0) rotate(2deg) scale(1.2);}
    75% {transform: translate3d(-5%,0,0) rotate(-1deg) scale(1.1);}
    100% {transform: translateZ(0) scale(1);}
}

.ball {
    height: 10px;
    width: 10px;
    border-radius: 100px;
    position: absolute;
    top: 46px;
    left: 670px;
    animation: spinBall 1s linear infinite;
    animation-delay: 5s; 
    
    box-shadow: inset 0 0 18px #fff, 
        inset 6px 0 18px violet, 
        inset -6px 0 18px #0ff, 
        inset 6px 0 30px violet, 
        inset -6px 0 30px #0ff, 
        0 0 18px #fff, -4px 
        0 18px violet, 4px 0 18px #0ff;
}
    
@keyframes spinBall {
    100% {
        transform: rotate(360deg);
    }
}

/*=========================================
    Media Queries
/* ======================================
    Breakpoint	      Purpose
    (default)	          Mobile-portrait
    max-width: 480px	  Mobile-landscape (and larger)
    max-width: 576px	  Mobile-landscape (and larger)
    max-width: 768px	  Tablet-portrait (and larger)
    max-width: 992px	  Tablet-landscape (and larger)
    max-width: 1200px	  Laptops (and larger)
    max-width: 1400px	  Laptops (and larger)
========================================= */
@media all and (max-width: 3000px) and (max-height: 900px) {
    .mousey {
        display: none;
    }
}

@media all and (max-width: 992px) {
    .container {
        max-width: 800px;
    }
}

@media all and (max-width: 768px) and (max-height: 900px) {
    .mousey {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .container {
        max-width: 650px !important;
    }

    .heroP {
        font-size: 1.3rem;
    }
    
    .heroH2 {
        font-size: 3rem;
    }

    .heroH3 {
        font-size: 2.3rem;
    }
}

@media all and (max-width: 576px) {
    .container {
        max-width: 500px !important;
    }

    .heroP {
        margin-bottom: 15px;
    }

    .heroH2 {
        font-size: 2.3rem;
    }
}

@media all and (max-width: 480px) {
    .container {
        max-width: 460px !important;  
    }

    .hrSection {
        padding-top: 114.800;
    }

    .heroP {
        font-size: 1rem;
    }

    .heroH2 {
        font-size: 2rem;
    }
    
    .heroH3 {
        font-size: 1.6rem;
    }

    .heroBlurb {
        font-size: 0.8rem;
    }
}

@media all and (max-width: 375px) {
    .hrSection {
        padding-top: 90px !important;
    }
}






/* about section  */

.aboutSection {
    margin: var(--hrSectionMargin);
    max-width: var(--hrSectionMaxWidth);
    padding-block: var(--hrSectionPaddingBlock);
}

.aboutMeImage {
    width: 100%;
    object-fit: cover;
    max-width: 500px;
    display: block;
}

.heading::before {
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
}

hr {
    border-top: 1px solid white;
}

.wrapper {
    background-color: #192A51;
    position: relative;
    box-shadow: 0 10px 30px -15px #f29576;
    background-image: linear-gradient(318deg, #F29576, #F9E9D5);
}

.wrapper::before {
    border: 2px solid #F9E9D5;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    top: 10px;
    position: absolute;
    z-index: -1;
    right: 10px;
    transition: transform 1s;
}

.wrapper::after {
    border: 2px solid var(--hrColorOrange);
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    top: 20px;
    position: absolute;
    z-index: -1;
    right: 20px;
    transition: transform 1s;
}

.wrapper:hover::after {
    transition: transform 1s;
    transform: translateY(-20px) translateX(20px);
}

.wrapper:hover::before {
    transition: transform 1s;
    transform: translateY(-10px) translateX(10px);
}

.pictureTag {
    filter: grayscale(50%) contrast(1);
}

.forHire {
    position: relative;
    -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0,0,0,.2));
}

.forHire span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: forHire 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes forHire {
    0%,40%,100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-2px)
    }
}

/*=========================================
  Media Queries
/* ======================================
  Breakpoint	      Purpose
  (default)	          Mobile-portrait
  max-width: 480px	  Mobile-landscape (and larger)
  max-width: 576px	  Mobile-landscape (and larger)
  max-width: 768px	  Tablet-portrait (and larger)
  max-width: 992px	  Tablet-landscape (and larger)
  max-width: 1200px	  Laptops (and larger)
  max-width: 1400px	  Laptops (and larger)
========================================= */

@media all and (max-width: 768px) {
    .wrapper::before {
        border: none;
    }

    .wrapper::after {
        border: none;
    }
}

@media all and (max-width: 992px) {
    .wrapper::before {
        border: none;
    }

    .wrapper::after {
        border: none;
    }
}
