nav {
    border-bottom: 1px solid #F9E9D5;
    letter-spacing: var(--letterSpacing);
}

#navbar {
    transition: top 1s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
  
.hrLogo {
    width: 300px;
}

.hDesktop {
    height: 100px;
    width: 100px;
    padding-top: 45px
}

.hMobile {
    height: 70px;
    width: 59px;
    padding-top: 15px;
}


