{% load static %}

<section class='aboutSection' id='about'>
    <div class='container'>
        <div class='row'>
            <div class='col col-md-9 col-lg-6 col-xl-6 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block'>
                <div class='aboutPictureWrapper'>
                    <picture class='pictureTag'>
                        <img class='aboutMeImage' alt="Picture of Heriberto Roman" src="{% static 'pages/images/aboutMeImage.png' %}">
                    </picture>
                </div>
            </div>
            <div class='col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6'>
                <h1 class='aboutHeading'>ABOUT ME <i class="fa-regular fa-hand-wave"></i></h1> 
                <hr class='hrLineBreak'>
                <div class='aboutBlurb'>
                    <p>
                        👋 Hi, I’m Heriberto Roman, a <strong>Software Engineer and founder of Hroman Codes, LLC</strong>, with a
                        builder’s mindset and a passion for creating useful, scalable software products.
                    </p>
                    
                    <p>
                        I come from a family of makers and problem-solvers, and I bring that same spirit to the keyboard. 
                        Since teaching myself to code in 2014, I’ve worn many hats from technical instructor empowering aspiring
                        developers to software engineer building real-world products across HealthTech, EdTech, SaaS, and e-commerce.
                    </p>

                    <p>
                        Through Hroman Codes, I work with startups and growing organizations to turn ideas and business
                        problems into production-ready software. My work spans front-end and back-end development using technologies like
                        Python, Django, React, PostgreSQL, and AWS, along with API integrations and AI-powered tools.
                    </p>

                    <p>
                        Whether I’m architecting a backend, building a customer-facing feature, or taking a product from idea to deployment,
                        I enjoy creating systems that are clean under the hood and intuitive for the people using them.
                    </p>

                        <p class='forHire'>
                            <span style="--i:1">I</span>
                            <span style="--i:2"></span>
                            <span style="--i:3">a</span>
                            <span style="--i:4">m</span>
                            <span style="--i:5"></span>
                            <span style="--i:6">f</span>
                            <span style="--i:7">o</span>
                            <span style="--i:8">r</span>
                            <span style="--i:9"></span>
                            <span style="--i:10">h</span>
                            <span style="--i:11">i</span>
                            <span style="--i:12">r</span>
                            <span style="--i:13">e</span>
                            <span style="--i:14">🤝</span>
                            <span style="--i:15">🧳</span>
                        </p>
                </div>
            </div>
            <div class='col-12 col-sm-12 col-md-9 col-lg-6 col-xl-6 d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none m-auto'>
                <div class='aboutPictureWrapper m-auto'>
                    <img src="{% static 'pages/images/aboutMeImage.png' %}" class="img-thumbnail hrImgThumbnailMobile" alt="Picture of Heriberto Roman">
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
       
        <div class='row'>
            <div style="padding-bottom: 2rem;">
                <p>
                    Software engineering is more than writing code. My experience across product development, consulting, and technical
                    education has shaped how I approach building software—from understanding the problem and designing the solution to
                    engineering, shipping, and communicating it effectively. This is my <strong>Software Engineer Skillset Model</strong>
                </p>
            </div>
            {% comment %} col-md-9 col-lg-6 col-xl-12 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block {% endcomment %}
            <div class='col d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block'>
                <div>
                    <picture>
                        <img alt="Picture of MVDSM_large" src="{% static 'pages/images/MVDSM_large.svg' %}">
                    </picture>
                </div>
            </div>
            <div class='col d-lg-none d-xl-none d-xxl-none'>
                <div>
                    <picture>
                        <img alt="Picture of MVDSM_small" src="{% static 'pages/images/MVDSM_small.svg' %}">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
