<p id='demo' class='banner mb-0 pt-1 pe-0 pb-1 ps-0 text-center'></p>

<style>

.banner {
    background-color: var(--hrColorBeige); 
    font-size: 14px;
    color: var(--hrbgColor);
}

/*=========================================
  Media Queries
/* ======================================
  Breakpoint	      Purpose
  (default)	          Mobile-portrait
  max-width: 480px	  Mobile-landscape (and larger)
  max-width: 576px	  Mobile-landscape (and larger)
  max-width: 768px	  Tablet-portrait (and larger)
  max-width: 992px	  Tablet-landscape (and larger)
  max-width: 1200px	  Laptops (and larger)
  max-width: 1400px	  Laptops (and larger)
========================================= */
@media all and (max-width: 991px) {
    .banner {
      display: none;
    }
  }

</style>

<script>
let i = 0;
let text = "Currently open for work! 💰 🧳";
let speed = 100;

function typeWriter(button) {
  // console.log(button.id);
  
   if(i < text.length) {
       document.getElementById("demo").innerHTML += text.charAt(i);
       i++;
       setTimeout(typeWriter, speed);
   }
}

typeWriter()

</script>