<div class='test'>
  <p id='demo' class='banner mb-0 pt-1 pe-0 pb-1 ps-0 text-center'>
    <a href='https://hromancodes.s3.amazonaws.com/static/pages/about_hroman_codes.pdf'>
      --> 📂 2024 Media Kit 📂 
    </a>
  </p> 
</div>

<style>


.banner {
    background-color: var(--hrColorBeige); 
    font-size: 16px;
    color: var(--hrbgColor);
}

.banner a {
  color: var(--hrbgColor) !important;
}

/*=========================================
  Media Queries
/* ======================================
  Breakpoint	      Purpose
  (default)	          Mobile-portrait
  max-width: 480px	  Mobile-landscape (and larger)
  max-width: 576px	  Mobile-landscape (and larger)
  max-width: 768px	  Tablet-portrait (and larger)
  max-width: 992px	  Tablet-landscape (and larger)
  max-width: 1200px	  Laptops (and larger)
  max-width: 1400px	  Laptops (and larger)
========================================= */
@media all and (max-width: 991px) {
    .banner {
      display: none;
    }
  }

</style>

<script>
let i = 0;
let text = `<--- Check out my 2024 Media Kit currently open for work! 💰 🧳 🤝`;
let speed = 100;

function typeWriter(button) {
   if(i < text.length) {
       document.getElementById("demo").innerHTML += text.charAt(i);
       i++;
       setTimeout(typeWriter, speed);
   }
}

typeWriter()

</script>