<section class='blogSection' id='blog'>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <h1 class='blogHeading'>Blog</h1>
                <hr class="hrLineBreak">
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                {% for post in posts %}
                    <h2><a href='{% url 'blog_detail' post.pk %}'>{{ post.title }}</a></h2>
                    <small>
                        {{ post.created_on.date}} |&nbsp;
                        Categories:&nbsp;
                        {% for category in post.categories.all %}
                            <a href="{% url 'blog_category' category.name %}">
                                {{ category.name }}
                            </a>&nbsp;
                        {% endfor %}
                    </small>
                        {{ post.image }} 
                        {{ post.body|slice:":300"|safe}}...
                {% endfor %}
            </div>
        </div>
        <div class='row pt-5'>
            <div class='col'>
                <p class='text-center'><a class='archiveLink' href="{% url 'blog_index' %}">👀 view the blogs</a></p>
            </div>
        </div>
    </div>
</section>
