<section class='contactSection' id='contact'>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <h1 class='contactHeading'>What’s Next ❓</h1>
                <hr class="hrLineBreak">
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <h3 class="text-center">Get in touch</h3>
                <p class="text-center pl-5 pr-5 pt-2">I am actively seeking new opportunities, including both full-time positions and contract work. Let's have a conversation!!</p>
            </div>
        </div>
        <div class='row pt-4'>
            <div class='col text-center'>
                <button class="text-center"><a class="nav-link text-uppercase" href="mailto:romanh99@gmail.com?subject=Heriberto we would like to hire you, let's talk." target='_blank'>MESSAGE ME</a></button>
            </div>
        </div>
        <div class='row pt-4'>
            <div class='col text-center'>
                <button class="text-center"><a class="nav-link text-uppercase" href="https://calendly.com/hroman_codes/coffee-chat-with-heriberto" target='_blank'>Book Time With ME</a></button>
            </div>
        </div>
    </div>
</section>
