<section class='experienceSection' id='experience'>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <h1 class='experienceHeading'>Experience - A 💼 History</h1>
                <hr class="hrLineBreak">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 offset-sm-0 offset-md-0 offset-lg-5">
                <a href='https://www.empoweredpaththerapy.com/' target='_blank'>
                    <div class='historyBubble EPTBG'>
                        <div class='row'>
                            <div class='col-7 formationTitleAndPosition'>
                                <span>Empowered Path Therapy</span><br>
                                <span>Full Stack Developer</span>
                            </div>
                            <div class='col-5 text-right mt-2'>
                                <h4 class='formationWorkYears'>2024-Present</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 offset-sm-0 offset-md-0 offset-lg-4">
                <a href='https://changefoodforgood.org/' target='_blank'>
                    <div class='historyBubble changeFoodForGoodBG'>
                        <div class='row'>
                            <div class='col-7 formationTitleAndPosition'>
                                <span>Change Food For Good</span><br>
                                <span>Technical Instructor</span>
                            </div>
                            <div class='col-5 text-right mt-2'>
                                <h4 class='formationWorkYears'>2024-Present</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 offset-sm-0 offset-md-0 offset-lg-3">
                <a href='https://theseeker-ai-d39e49c962dd.herokuapp.com/' target='_blank'>
                    <div class='historyBubble theSeekerBG'>
                        <div class='row'>
                            <div class='col-7 formationTitleAndPosition'>
                                <span>The Seeker</span><br>
                                <span>Full Stack Developer</span>
                            </div>
                            <div class='col-5 text-right mt-2'>
                                <h4 class='formationWorkYears'>2023-2024</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 offset-sm-0 offset-md-0 offset-lg-2">
                <a href='https://formation.dev/' target='_blank'>
                    <div class='historyBubble formationBG'>
                        <div class='row'>
                            <div class='col-7 formationTitleAndPosition'>
                                <span>Formation</span><br>
                                <span class='tkhPositionLetterSpace'>Software Engineer Fellow</span>
                            </div>
                            <div class='col-5 text-right mt-2'>
                                <h4 class='formationWorkYears'>2022-2023</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 offset-sm-0 offset-md-0 offset-lg-1">
                <a href='https://www.tinyorganics.com/' target='_blank'>
                    <div class='historyBubble TinyOrganicsBG'>
                        <div class='row'>
                            <div class='col-7 tinyOrganicsTitleAndPositio'>
                                <span>Tiny Organics</span><br>
                                <span>Software Engineer</span>
                            </div>
                            <div class='col-5 text-right mt-2'>
                                <h4 class='tinyOrganicsWorkYears'>2021-2022</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 offset-sm-0 offset-md-0 offset-lg-0">
                <a href='https://www.theknowledgehouse.org/' target='_blank'>
                    <div class='historyBubble TKHBG'>
                        <div class='row'>
                            <div class='col-7 tkhTitleAndPosition'>
                                <span>The Knowledge House</span><br>
                                <span class='tkhPositionLetterSpace'>Lead Technical Instructor</span>
                            </div>
                            <div class='col-5 text-right mt-2'>
                                <h4 class='tkhWorkYears'>2017-2020</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<script>
	VanillaTilt.init(document.querySelector(".historyBubble"), {
		max: 10,
		speed: 400,
	});
	
	VanillaTilt.init(document.querySelectorAll(".historyBubble"));
</script>
