{% load static %}

<footer>
    <section class='footerSection'>
        <div class='container'>
            <div class='row'>
                <div class='col'>
                    <a href='#hero' class='hrFooterLogo' style="text-decoration: none;">
                        <img class='hMobile' id='hMobileFooter' alt="hroman codes logo" src="{% static 'pages/images/hLogoBlueOutline.svg' %}">
                        <div class='topLabel'>Top</div>
                    </a>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <p>Built from scratch with ❤️ by Heriberto Roman</p>
                </div>
            </div>
        </div>
    </section>

      {% comment %} <ul style="list-style: none;">
                    <li><a style="color: #F9E9D5;" target="_blank" href="https://github.com/hroman-codes">GitHub</a></li>
                    <li><a style="color: #F9E9D5;" target="_blank" href="https://www.linkedin.com/in/heribertoroman/">LinkedIn</a></li>
                    <li><a style="color: #F9E9D5;" target="_blank" href="https://www.youtube.com/channel/UCWLLLB21WpFoNklfx1et25A">YouTube</a></li>
                    <li><a style="color: #F9E9D5;" target="_blank" href="https://hroman-codes.medium.com/">Medium</a></li>
                    <li><a style="color: #F9E9D5;" target="_blank" href="https://www.credly.com/badges/2bcefd6b-915d-4f5d-8e57-cad453b7dc2f/public_url">AWS Certification</a></li>
                </ul>  {% endcomment %}
</footer>
