{% load static %}

<footer>
    <section class='footerSection'>
        <div class='container'>
            <div class='row'>
                <div class='col'>
                    <p class='footerSectionText'>Built by Heriberto Roman</p>
                </div>
            </div>
            <div class='row'>
                <div class='col d-flex justify-content-center'>
                    <ul class='list-unstyled d-flex fs-4'>
                        <li class='pr-3'><a target="_blank" href="https://github.com/heriberto-codes"><i class="bi bi-github fa-2x"></i></a></li>
                        <li class='pr-3'><a target="_blank" href="https://www.linkedin.com/in/heribertoroman/"><i class="bi bi-linkedin fa-2x"></i></a></li>
                        <li class='pr-3'><a target="_blank" href="https://www.youtube.com/@heriberto_codes"><i class="bi bi-youtube fa-2x"></i></a></li>
                    </ul>  
                </div>
            </div>
        </div>
    </section>
</footer>
