<section class='heroSection' id='hero'>
    <div class='container'>
        <div class='row'>
            <div class='col content-tertiary'>
                <p class='heroP animate__animated animate__zoomInUp animate__delay-1s'><span>👋 </span> Hi, my name is</p>
            </div>     
        </div>
        <div class='row'>
            <div class='col'>
                <h2 class='heroH2'>Heriberto Roman.</h2>
            </div>     
        </div>
        <div class='row'>
            <div class='col'>
                <h3 class='heroH3'>I build for the <span class='heroWeb animate__animated animate__fadeIn animate__delay-2s'>web</span><span class='ball animate__animated animate__fadeIn animate__repeat-1 animate__delay-3s'></span></h3>
            </div>     
        </div>
        <div class='row'>
            <div class='col col-md-10 col-lg-9'>
                <p class='heroBlurb animate__animated animate__headShake animate__delay-4s'>
                    I am a <strong>Freelance Frontend Software Engineer</strong>. I design and code beautifully simple things, and I love what I do. 
                    I worked for startups in tech-ed, food tech, and the non-profit sector. I'm equipped with just the right tools and I am passionate about learning from others.
                </p>
            </div>     
        </div>
        <div class='row scroll-downs fixed-bottom'>
            <div class='col mousey animate__animated animate__hinge animate__delay-5s'>
                <div class="scroller"></div>  
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        $(window).scroll(function(){
            $('.scroll-downs').css("opacity", 1- $(window).scrollTop() / 150)
        })
    })
</script>
