<section class='toolsSection' id='tools'>
    <div class='container toolContainer'>
        <div class='row'>
            <div class='col'>
                <h1 class='toolsHeading'>My Tool 🧰</h1>
                <hr class="hrLineBreak">
            </div>     
        </div>
        <div class='toolBox'>
            <div class='row text-center'>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="fa-brands fa-html5 fa-5x"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>HTML5</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="fa-brands fa-css3 fa-5x"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>CSS3</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="fa-brands fa-js fa-5x fa-flip" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.3; --fa-animation-delay: 15s;"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>Javascript</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="devicon-jquery-plain"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>jQuery</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="fa-brands fa-react fa-5x fa-spin" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.3; --fa-animation-delay: 20s;"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>React</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="fa-brands fa-node fa-5x"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>Node.js</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="fa-brands fa-python fa-5x fa-beat" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.3; --fa-animation-delay: 25s;"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>Python</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                             <i class="devicon-django-plain"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>Django</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="devicon-vscode-plain"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>VS Code</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="devicon-postgresql-plain"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>PostgreSQL</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="devicon-mongodb-plain"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>MongoDB</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="fa-brands fa-aws fa-5x fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.3;" ></i>
                        </div>
                        <div class='col mt-2'>
                            <p>AWS</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="fa-brands fa-docker fa-5x fa-shake" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.3; --fa-animation-delay: 5s;"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>Docker</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="devicon-heroku-original"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>Heroku</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="fa-brands fa-git fa-5x"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>Git</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="fa-brands fa-github fa-5x fa-bounce" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.3; --fa-animation-delay: 10s;"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>GitHub</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="fa-brands fa-figma fa-5x"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>Figma</p>
                        </div>
                    </div>
                </div>
                <div class='col col-sm-3 col-md-2 pb-5'>
                    <div class='row'>
                        <div class='col'>
                            <i class="fas fa-cogs fa-5x fa-spin" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.3; --fa-animation-delay: 30s;"></i>
                        </div>
                        <div class='col mt-2'>
                            <p>Restful API's</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class='row text-center'>
    
            </div>
        </div>
    </div>
</section>
