{% extends 'archive/base_archive.html' %}
{% load static %}

{% block content %}
<section class='archiveSection'>
    <div class="container">
        <div class="row justify-content-center align-items-center g-2 pt-5 pb-5">
            <div class="col-12 text-center">
                <h1 class='text-uppercase'>Archive <i class="fa-regular fa-folder-open"></i></h1>
            </div>
            <div class="col-12 text-center">
                <p>A list of <i style='color: #885B47;' class="fa-solid fa-poo fa-2x"></i> I worked on.</p>
            </div>
        </div>

        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" class='d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block'>Year</th>
                <th scope="col">Title</th>
                <th scope="col">Made at</th>
                <th scope="col" class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block'>Built with</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class='d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block'>2022</th>
                    <td>Login Page</td>
                    <td>Tiny Organics</td>
                    <td class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block builtWithText'>
                        <div class='row'>
                            <div class='col-2 pr-3'><span>Python</span></div>
                            <div class='col-2 pr-3'><span>Django</span></div>
                        </div>
                        <div class='row'>
                            <div class='col-12 pr-3'><span>Django Template Language</span></div>
                        </div>
                        <div class='row'>
                            <div class='col-1 pr-3'><span>HTML</span></div>
                            <div class='col-1 pr-3'><span>CSS</span></div>
                            <div class='col-1 pr-3'><span>Bootstrap</span></div>
                        </div>
                    </td>
                    <td><a target='_blank' href='https://shop.tinyorganics.com/accounts/login/?gclid=CjwKCAjwsNiIBhBdEiwAJK4khqMgQzKRNHwkD79hobP02BSJ1P8ol5l1iSIjP7NjR873S04d-jzuoBoCpNwQAvD_BwE&_gl=1*zezxw7*_ga*MTE0MzQ4MjgyMi4xNjQyNjUxODQz*_ga_5HVEYQ07R3*MTY2MzM2NDU3Ni4xMTQuMS4xNjYzMzY0NTg5LjAuMC4w'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr> 
                <tr>
                    <th scope="row" class='d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block'>2020</th>
                    <td>Coding Challenges</td>
                    <td>Freelance</td>
                    <td class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block builtWithText'>
                        <div class='row'>
                            <div class='col-1 pr-3'><span>Javascript</span></div>
                        </div>
                    </td>
                    <td><a target='_blank' href='https://github.com/hroman-codes/codingChallenges'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr> 
                <tr>
                    <th scope="row" class='d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block'>2020</th>
                    <td>Weather App</td>
                    <td>The Knowledge House</td>
                    <td class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block builtWithText'> 
                        <div class='row'>
                            <div class='col-1 pr-3'><span>HTML</span></div> 
                            <div class='col-1 pr-3'><span>CSS</span></div> 
                            <div class='col-1 pr-3'><span>Javascript</span></div> 
                        </div>
                        <div class='row'>
                            <div class='col-3 pr-3'><span>Node.js</span></div>
                            <div class='col-3 pr-3'><span>Express.js</span></div>
                        </div>
                        <div class='row'>
                            <div class='col-2 pr-3'><span>EJS</span></div>
                            <div class='col-1 pr-3'><span>Heroku</span></div>
                        </div>
                        <div class='row'>
                            <div class='col-12 pr-3'><span>Openweathermap API</span></div> 
                        </div>
                    </td>
                    <td><a target='_blank' href='https://github.com/hroman-codes/tkh-weather-app-javascript'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr>
                <tr>
                    <th scope="row" class='d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block'>2020</th>
                    <td>Technical Documentation Page</td>
                    <td>Free Code Camp Project</td>
                    <td class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block builtWithText'>
                        <div class='row'>
                            <div class='col-1 pr-3'><span>HTML</span></div> 
                            <div class='col-1 pr-3'><span>CSS</span></div> 
                        </div>
                        <div class='row'>
                            <div class='col-3 pr-3'><span>Flexbox</span></div>
                            <div class='col-4 pr-3'><span>CSS Grid</span></div>
                        </div>
                    </td>
                    <td><a target='_blank' href='https://github.com/hroman-codes/BBG_techDocPage'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr>
                <tr>
                    <th scope="row" class='d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block'>2020</th>
                    <td>Coding Workstations</td>
                    <td>The Knowledge House</td>
                    <td class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block builtWithText'>
                        <div class='row'>
                            <div class='col-1 pr-3'><span>HTML</span></div> 
                            <div class='col-1 pr-3'><span>CSS</span></div> 
                            <div class='col-1 pr-3'><span>Javascript</span></div>
                        </div>
                    </td>
                    <td><a target='_blank' href='https://github.com/hroman-codes/codingWorkstations'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr>                         
                <tr>
                    <th scope="row" class='d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block'>2019</th>
                    <td>Rock Paper Scissors</td>
                    <td>The Knowledge House</td>
                    <td class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block builtWithText'>
                        <div class='row'>
                            <div class='col-1 pr-3'><span>HTML</span></div> 
                            <div class='col-1 pr-3'><span>CSS</span></div> 
                            <div class='col-1 pr-3'><span>Javascript</span></div>
                        </div>
                    </td>
                    <td><a target='_blank' href='https://github.com/hroman-codes/rockPaperScissors'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr>
                <tr>
                    <th scope="row" class='d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block'>2019</th>
                    <td>Survey Form</td>
                    <td>Free Code Camp Project</td>
                    <td class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block builtWithText'>
                        <div class='row'>
                            <div class='col-1 pr-3'><span>HTML</span></div> 
                            <div class='col-1 pr-3'><span>CSS</span></div> 
                        </div>
                    </td>
                    <td><a target='_blank' href='https://github.com/hroman-codes/surveyForm'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr>    
                <tr>
                    <th scope="row" class='d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block'>2018</th>
                    <td>cThink</td>
                    <td>The Knowledge House</td>
                    <td class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block builtWithText'>
                        <div class='row'>
                            <div class='col-1 pr-3'><span>HTML</span></div> 
                            <div class='col-1 pr-3'><span>CSS</span></div> 
                            <div class='col-1 pr-3'><span>Javascript</span></div>
                        </div>
                    </td>
                    <td><a target='_blank' href='https://github.com/hroman-codes/cThink'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr> 
                <tr>
                    <th scope="row" class='d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block'>2018</th>
                    <td>jQuery Street Fighter</td>
                    <td>Thinkful Coding Bootcamp</td>
                    <td class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block builtWithText'>
                        <div class='row'>
                            <div class='col-1 pr-3'><span>HTML</span></div> 
                            <div class='col-1 pr-3'><span>CSS</span></div> 
                            <div class='col-1 pr-3'><span>Javascript</span></div>
                        </div>
                    </td>
                    <td><a target='_blank' href='https://github.com/hroman-codes/jquery-streetfighter'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr>
                <tr>
                    <th scope="row" class='d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block'>2018</th>
                    <td>Blind Spot</td>
                    <td>The Knowledge House</td>
                    <td class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block builtWithText'>
                        <div class='row'>
                            <div class='col-1 pr-3'><span>HTML</span></div> 
                            <div class='col-1 pr-3'><span>CSS</span></div> 
                            <div class='col-1 pr-3'><span>Javascript</span></div>
                        </div>
                        <div class='row'>
                            <div class='col-5 pr-3'><span>Raspberry Pi</span></div> 
                            <div class='col-5 pr-3'><span>Google Cloud</span></div> 
                        </div>
                        <div class='row'>
                            <div class='col-3 pr-3'><span>Alexa</span></div>
                        </div>
                    </td>
                    <td><a target='_blank' href='https://github.com/hroman-codes/Blind_spot'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr>   
                <tr>
                    <th scope="row" class='d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block'>2015</th>
                    <td>Diamondcutz Scheduler</td>
                    <td>Independent Software / A100</td>
                    <td class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block builtWithText'>
                        <div class='row'>
                            <div class='col-1 pr-3'><span>HTML</span></div> 
                            <div class='col-1 pr-3'><span>CSS</span></div> 
                            <div class='col-1 pr-3'><span>Javascript</span></div>
                        </div>
                        <div class='row'>
                            <div class='col-2 pr-3'><span>Meteor</span></div> 
                            <div class='col-3 pr-3'><span>Blaze.js</span></div> 
                            <div class='col-5 pr-3'><span>Meteor Cloud</span></div> 
                        </div>
                        <div class='row'>
                            <div class='col-3 pr-3'><span>MongoDB</span></div>
                        </div>
                    </td>
                    <td><a target='_blank' href='https://github.com/hroman-codes/diamondcutz'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr>   
                <tr>
                    <th scope="row" class='d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block'>2014</th>
                    <td>Shopping List</td>
                    <td>Freelance</td>
                    <td class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block builtWithText'>
                        <div class='row'>
                            <div class='col-1 pr-3'><span>HTML</span></div> 
                            <div class='col-1 pr-3'><span>CSS</span></div> 
                            <div class='col-1 pr-3'><span>Javascript</span></div>
                        </div>
                        <div class='row'>
                            <div class='col-3 pr-3'><span>jQuery</span></div>
                        </div>
                    </td>
                    <td><a target='_blank' href='https://github.com/hroman-codes/shoplist'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr> 
            </tbody>
          </table>

        <div class='row pt-5 pb-5'>
            <div class='col'>
                <p class='text-center'><a href="{% url 'home' %}">go back home</a></p>
            </div>
        </div>
    </div>
<section>

{% endblock %}
