 {% extends 'blog/base_blog.html' %}
 {% load static %}

 <title>{% block title %} Blog Detail {% endblock %}</title>

 {% block content %}
    <section class='blogSection' id='blog'>
        <div class='container'>

            <div class='row pb-5'>
                <div class='col-12 col-lg-12'>
                    <div class='row'>
                        <div class='col blogPostMetaData pt-3 pb-3'>
                            {% for category in post.categories.all %}
                                <a href="{% url 'blog_category' category.name %}">
                                    <span class='badge blogCategory'>{{ category.name }}<span>
                                </a>&nbsp;
                            {% endfor %}
                        </div>
                    </div>
                    <div class='row pb-1'>
                       <div class='col-12 col-lg-12'>
                            <small>
                                {{ post.created_on.date}}
                            </small>
                       </div>
                    </div>
                    <div class='row pb-5'>
                        <div class='col-12 col-lg-12'>
                            <a href="{% url 'like_post' post.id post.slug %}">
                                Like <i class="{% if post_was_liked %}fa-solid{% else %}fa-regular{% endif %} fa-thumbs-up fa-lg"></i>
                            </a>
                            <small>
                                {{ like.like }}
                            </small>
                        </div>
                     </div>                    
                    <div class='row'>
                        <div class='col'>
                            <h3>
                                <a class='blogTitle' href='{% url "blog_detail" post.pk post.slug %}'>{{ post.title }}</a>
                            </h3>
                        </div>
                    </div>  
                </div>
            </div>

            <div class=''></div>

            <div class='row'>
                <div class='col'>
                    <p>{{ post.body|safe }}</p>
                </div>
            </div>
            
            
            <div class='row pt-5'>
                <div class='col'>
                    <p class='text-center'><a class='archiveLink' href="{% url 'blog_index' %}">👀 view the blogs</a></p>
                </div>
            </div> 

        </div>
    </section>
{% endblock %}
