{% extends 'base.html'%} 

<title>{% block title %} Blogs {% endblock %}</title>

{% block nav %}{% endblock %}

{% block content %}
{% include 'alternate_navbar.html' %}
    <section>
        <div class='container'>
            <div class="row justify-content-center align-items-center g-2 pt-5 pb-5">
                <div class="col-12 text-center">
                    <h1 class='text-uppercase'>Blog <i class="fa-solid fa-blog"></i></h1>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    {% for post in posts %}
                        <h2><a href='{% url 'blog_detail' post.pk %}'>{{ post.title }}</a></h2>
                        <small>
                            {{ post.created_on.date}} |&nbsp;
                            Categories:&nbsp;
                            {% for category in post.categories.all %}
                                <a href="{% url 'blog_category' category.name %}">
                                    {{ category.name }}
                                </a>&nbsp;
                            {% endfor %}
                        </small>
                            {{ post.body|slice:":300"|safe}}...
                    {% endfor %}
                </div>
            </div>
            <div class='row pt-5'>
                <div class='col'>
                    <p class='text-center'><a style='color: white;' href="{% url 'home' %}">go back home</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

