{% extends 'blog/base_blog.html'%}
{% load static %}

<title>{% block title %} Blog Categories {% endblock %}</title>

{% block content %}
    <section>
        <div class='container'>
            <div class="row justify-content-center align-items-center g-2 pt-5 pb-5">
                <div class="col-12 text-center">
                    <h1 class='text-uppercase'> Category: {{ category | title }} <i class="fa-solid fa-blog"></i></h1>
                </div>
            </div>

            {% for post in posts %}
                <div class='row pb-5'>
                    <div class='col-6'>
                        <a  href='{% url "blog_detail" post.pk %}'><img style='object-fit: cover; max-width: 100%; height: 100%;' src={{post.image.url}} /></a>
                    </div>

                    <div class='col-6'>
                        <div class='row'>
                            <div class='col blogPostMetaData pb-3'>
                                {% for category in post.categories.all %}
                                    <a href="{% url 'blog_category' category.name %}">
                                        <span style='padding: 8px;' class='badge'>{{ category.name }}<span>
                                    </a>&nbsp;
                                {% endfor %}
                                <small>
                                    {{ post.created_on.date}}
                                </small> 
                            </div>
                        </div>
                        
                        <div class='row'>
                            <div class='col'>
                                <h3 class='pb-2'>
                                    <a style='color: var(--hrColorBeige) !important; font-weight: 900;' href='{% url "blog_detail" post.pk %}'>{{ post.title }}</a>
                                </h3>
                                <div style='color: var(--hrTextColorGrey); -webkit-font-smoothing: var(--hrFontSmoothing); word-wrap: break-word;'>
                                    {{ post.snippet|safe}}...
                                </div>
                            </div>
                        </div>  
                    </div>

                </div>
            {% endfor %}

            <div class='row pt-5'>
                <div class='col'>
                    <p class='text-center'><a style='color: white;' href="{% url 'blog_index' %}">go back to blogs</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
