{% block home %}

<section class='aboutSection' id='about'>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <h1>ABOUT</h1>
                <p>Hello! My name is Heriberto Roman I am a <strong>Freelance Frontend Software Engineer</strong> with a passion for creating on the web. 
                    I come from a family of builders and problem solvers. I started to teach myself how to code back in 2014 and spent a 
                    few years as a technical instructor teaching disconnected young adults in the South Bronx how to code.</p>
                    
                    <p>I currently have two years of professional experience as a Software Engineer. I love front-end technologies and 
                    work with several programming tools to deliver quality results to clients.</p>

                    <p>When I am not behind a computer coding I enjoy spending quality time with my wife and kids 👨‍👩‍👧‍👦. I also play ice hockey twice a week 🥅 🏒 to keep me fit.</p>

                    <p>I am for Hire!</p>
                {% comment %} <ul style="list-style: none;">
                    <li><a style="color: #F9E9D5;" target="_blank" href="https://github.com/hroman-codes">GitHub</a></li>
                    <li><a style="color: #F9E9D5;" target="_blank" href="https://www.linkedin.com/in/heribertoroman/">LinkedIn</a></li>
                    <li><a style="color: #F9E9D5;" target="_blank" href="https://www.youtube.com/channel/UCWLLLB21WpFoNklfx1et25A">YouTube</a></li>
                    <li><a style="color: #F9E9D5;" target="_blank" href="https://hroman-codes.medium.com/">Medium</a></li>
                    <li><a style="color: #F9E9D5;" target="_blank" href="https://www.credly.com/badges/2bcefd6b-915d-4f5d-8e57-cad453b7dc2f/public_url">AWS Certification</a></li>
                </ul>  {% endcomment %}
            </div>
        </div>

    </div>
</section>

<style>
    .aboutSection {
        margin: var(--hrSectionMargin);
        max-width: var(--hrSectionMaxWidth);
        padding-block: var(--hrSectionPaddingBlock);
    }
</style>


{% endblock %}
