{% block home %}
{% load static %}

<section class='aboutSection' id='about'>
    <div class='container'>
        <div class='row'>
            <div class='col col-md-9 col-lg-6 col-xl-6 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block'>
                <div class='aboutPictureWrapper'>
                    <picture class='pictureTag'>
                        <img class='aboutMeImage' alt="Picture of Heriberto Roman" src="{% static 'pages/images/aboutMeImage.svg' %}">
                    </picture>
                </div>
            </div>
            <div class='col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6'>
                <h1 class='aboutHeading'>ABOUT ME <i class="fa-regular fa-hand-wave"></i></h1> 
                <hr class='hrLineBreak'>
                <div class='aboutBlurb'>
                    <p>
                        👋 Hello! My name is Heriberto Roman I am a <strong>Freelance Frontend Software Engineer</strong> with a passion for creating on the web. 
                        I come from a family of builders and problem solvers. I started to teach myself how to code back in 2014 and spent a 
                        few years as a technical instructor teaching disconnected young adults in the South Bronx how to code.
                    </p>
                    
                    <p>
                        I currently have two years of professional experience as a Software Engineer. I love front-end technologies and 
                        work with several programming tools to deliver quality results to clients.
                    </p>

                    <p>
                        When I am not behind a computer coding I enjoy spending quality time with my wife and kids 👨‍👩‍👧‍👦. I also play ice hockey twice a week 🥅 🏒 🙌 to keep me fit.
                    </p>

                        <p class='forHire'>
                            <span style="--i:1">I</span>
                            <span style="--i:2"></span>
                            <span style="--i:3">a</span>
                            <span style="--i:4">m</span>
                            <span style="--i:5"></span>
                            <span style="--i:6">f</span>
                            <span style="--i:7">o</span>
                            <span style="--i:8">r</span>
                            <span style="--i:9"></span>
                            <span style="--i:10">h</span>
                            <span style="--i:11">i</span>
                            <span style="--i:12">r</span>
                            <span style="--i:13">e</span>
                            <span style="--i:14">🤝</span>
                            <span style="--i:15">🧳</span>
                        </p>
                </div>
            </div>
            <div class='col-12 col-sm-12 col-md-9 col-lg-6 col-xl-6 d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none m-auto'>
                <div class='aboutPictureWrapper m-auto'>
                    <img src="{% static 'pages/images/aboutMeImage.svg' %}" class="img-thumbnail hrImgThumbnailMobile" alt="Picture of Heriberto Roman">
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}
