{% extends 'base.html' %}
{% load static %}


{% block archive %}
{% include 'banner.html' %}
{% include 'navbar.html' %}

<section class='archiveSection'>
    <div class="container">
        <div class="row justify-content-center align-items-center g-2 pt-5 pb-5">
            <div class="col-12 text-center">
                <h1 class='text-uppercase'>Archive <i class="fa-regular fa-folder-open"></i></h1>
            </div>
            <div class="col-12 text-center">
                <p>A list of <i style='color: #885B47;' class="fa-solid fa-poo fa-2x"></i> I worked on.</p>
            </div>
        </div>

        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Year</th>
                <th scope="col">Title</th>
                <th scope="col">Made at</th>
                <th scope="col">Built with</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">2020</th>
                    <td>Coding Challenges</td>
                    <td>Freelance</td>
                    <td style="font-size: 10px;">
                        <div class='row'>
                            <div class='col-1 pr-3'><span>Javascript</span></div>
                        </div>
                    </td>
                    <td><a style='color: white;' target='_blank' href='https://github.com/hroman-codes/codingChallenges'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr> 
                <tr>
                    <th scope="row">2020</th>
                    <td>Weather App</td>
                    <td>The Knowledge House</td>
                    <td style="font-size: 10px;">
                        <div class='row'>
                            <div class='col-1 pr-3'><span>HTML</span></div> 
                            <div class='col-1 pr-3'><span>CSS</span></div> 
                            <div class='col-1 pr-3'><span>Javascript</span></div>
                            
                        </div>
                        <div class='row'>
                            <div class='col-3 pr-3'><span>Node.js</span></div>
                            <div class='col-3 pr-3'><span>Express.js</span></div>
                        </div>
                        <div class='row'>
                            <div class='col-2 pr-3'><span>EJS</span></div>
                            <div class='col-1 pr-3'><span>Heroku</span></div>
                        </div>
                        <div class='row'>
                            <div class='col-12 pr-3'><span>Openweathermap API</span></div> 
                        </div>
                    </td>
                    <td><a style='color: white;' target='_blank' href='https://github.com/hroman-codes/tkh-weather-app-javascript'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                    </tr>             
                    <tr>
                        <th scope="row">2019</th>
                        <td>Rock Paper Scissors</td>
                        <td>The Knowledge House</td>
                        <td style="font-size: 10px;">
                            <div class='row'>
                                <div class='col-1 pr-3'><span>HTML</span></div> 
                                <div class='col-1 pr-3'><span>CSS</span></div> 
                                <div class='col-1 pr-3'><span>Javascript</span></div>
                            </div>
                        </td>
                        <td><a style='color: white;' target='_blank' href='https://github.com/hroman-codes/rockPaperScissors'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                    </tr>  
                    <tr>
                        <th scope="row">2018</th>
                        <td>cThink</td>
                        <td>The Knowledge House</td>
                        <td style="font-size: 10px;">
                            <div class='row'>
                                <div class='col-1 pr-3'><span>HTML</span></div> 
                                <div class='col-1 pr-3'><span>CSS</span></div> 
                                <div class='col-1 pr-3'><span>Javascript</span></div>
                            </div>
                        </td>
                        <td><a style='color: white;' target='_blank' href='https://github.com/hroman-codes/cThink'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                    </tr>  
            </tbody>
          </table>

        <div class='row pt-5'>
            <div class='col'>
                <p class='text-center'><a style='color: white;' href="{% url 'home' %}">go back home</a></p>
            </div>
        </div>
    </div>
<section>

{% endblock %}
