{% extends 'base.html' %}
{% load static %}


{% block archive %}
{% include 'banner.html' %}
<nav class="navbar navbar-expand-lg navbar-dark text-uppercase sticky-top" id='navbar'>
    <div class='container-fluid'>
      <!--  Show this only on mobile to medium screens  -->
        <a class="navbar-brand d-lg-none" href="{% url 'home' %}">
          <img class='hMobile' alt="hroman codes logo" src="{% static 'pages/images/H.svg' %}">
        </a>
      
      <!--  Use flexbox utility classes to change how the child elements are justified  -->
        <div class="collapse navbar-collapse justify-content-around text-center" id="navbarToggle"> 
          
      <!--   Show this only lg screens and up   -->
          <div class='logo_wrapper d-none d-lg-block'>
            <a class="navbar-brand d-none d-lg-block" href="{% url 'home' %}">
                <img class='hrLogo' alt="hroman codes logo" src="{% static 'pages/images/hr.svg' %}">
            </a>
          </div>
        </div>
    </div>
</nav>

<section class='archiveSection'>
    <div class="container">
        <div class="row justify-content-center align-items-center g-2 pt-5 pb-5">
            <div class="col-12 text-center">
                <h1 class='text-uppercase'>Archive <i class="fa-regular fa-folder-open"></i></h1>
            </div>
            <div class="col-12 text-center">
                <p>A list of <i style='color: #885B47;' class="fa-solid fa-poo fa-2x"></i> I worked on.</p>
            </div>
        </div>

        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Year</th>
                <th scope="col">Title</th>
                <th scope="col">Made at</th>
                <th scope="col" class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block'>Built with</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
            <tr>
                    <th scope="row">2022</th>
                    <td>Login Page</td>
                    <td>Tiny Organics</td>
                    <td style="font-size: 10px;" class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block'>
                        <div class='row'>
                            <div class='col-3 pr-3'><span>Python</span></div>
                            <div class='col-3 pr-3'><span>Django</span></div>
                        </div>
                        <div class='row'>
                            <div class='col-12 pr-3'><span>Django Template Language</span></div>
                        </div>
                        <div class='row'>
                            <div class='col-2 pr-3'><span>HTML</span></div>
                            <div class='col-2 pr-3'><span>CSS</span></div>
                            <div class='col-2 pr-3'><span>Bootstrap</span></div>
                        </div>
                    </td>
                    <td><a style='color: white;' target='_blank' href='https://shop.tinyorganics.com/accounts/login/?gclid=CjwKCAjwsNiIBhBdEiwAJK4khqMgQzKRNHwkD79hobP02BSJ1P8ol5l1iSIjP7NjR873S04d-jzuoBoCpNwQAvD_BwE&_gl=1*zezxw7*_ga*MTE0MzQ4MjgyMi4xNjQyNjUxODQz*_ga_5HVEYQ07R3*MTY2MzM2NDU3Ni4xMTQuMS4xNjYzMzY0NTg5LjAuMC4w'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr> 
                <tr>
                    <th scope="row">2020</th>
                    <td>Coding Challenges</td>
                    <td>Freelance</td>
                    <td style="font-size: 10px;" class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block'>
                        <div class='row'>
                            <div class='col-1 pr-3'><span>Javascript</span></div>
                        </div>
                    </td>
                    <td><a style='color: white;' target='_blank' href='https://github.com/hroman-codes/codingChallenges'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                </tr> 
                <tr>
                    <th scope="row">2020</th>
                    <td>Weather App</td>
                    <td>The Knowledge House</td>
                    <td style="font-size: 10px;" class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block'>
                        <div class='row'>
                            <div class='col-1 pr-3'><span>HTML</span></div> 
                            <div class='col-1 pr-3'><span>CSS</span></div> 
                            <div class='col-1 pr-3'><span>Javascript</span></div>
                            
                        </div>
                        <div class='row'>
                            <div class='col-3 pr-3'><span>Node.js</span></div>
                            <div class='col-3 pr-3'><span>Express.js</span></div>
                        </div>
                        <div class='row'>
                            <div class='col-2 pr-3'><span>EJS</span></div>
                            <div class='col-1 pr-3'><span>Heroku</span></div>
                        </div>
                        <div class='row'>
                            <div class='col-12 pr-3'><span>Openweathermap API</span></div> 
                        </div>
                    </td>
                    <td><a style='color: white;' target='_blank' href='https://github.com/hroman-codes/tkh-weather-app-javascript'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                    </tr>             
                    <tr>
                        <th scope="row">2019</th>
                        <td>Rock Paper Scissors</td>
                        <td>The Knowledge House</td>
                        <td style="font-size: 10px;" class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block'>
                            <div class='row'>
                                <div class='col-1 pr-3'><span>HTML</span></div> 
                                <div class='col-1 pr-3'><span>CSS</span></div> 
                                <div class='col-1 pr-3'><span>Javascript</span></div>
                            </div>
                        </td>
                        <td><a style='color: white;' target='_blank' href='https://github.com/hroman-codes/rockPaperScissors'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                    </tr>  
                    <tr>
                        <th scope="row">2018</th>
                        <td>cThink</td>
                        <td>The Knowledge House</td>
                        <td style="font-size: 10px;" class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block'>
                            <div class='row'>
                                <div class='col-1 pr-3'><span>HTML</span></div> 
                                <div class='col-1 pr-3'><span>CSS</span></div> 
                                <div class='col-1 pr-3'><span>Javascript</span></div>
                            </div>
                        </td>
                        <td><a style='color: white;' target='_blank' href='https://github.com/hroman-codes/cThink'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                    </tr> 
                    <tr>
                        <th scope="row">2018</th>
                        <td>jQuery Street Fighter</td>
                        <td>Thinkful Coding Bootcamp</td>
                        <td style="font-size: 10px;" class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block'>
                            <div class='row'>
                                <div class='col-1 pr-3'><span>HTML</span></div> 
                                <div class='col-1 pr-3'><span>CSS</span></div> 
                                <div class='col-1 pr-3'><span>Javascript</span></div>
                            </div>
                        </td>
                        <td><a style='color: white;' target='_blank' href='https://github.com/hroman-codes/cThink'><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                    </tr>   
            </tbody>
          </table>

        <div class='row pt-5'>
            <div class='col'>
                <p class='text-center'><a style='color: white;' href="{% url 'home' %}">go back home</a></p>
            </div>
        </div>
    </div>
<section>


<style>
    nav {
        border-bottom: 1px solid #F9E9D5;
        letter-spacing: var(--letterSpacing);
    }
    
    #navbar {
        transition: top 1s;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
      
    .hrLogo {
        width: 300px;
    }
    
    .hDesktop {
        height: 100px;
        width: 100px;
        padding-top: 45px
    }
    
    .hMobile {
        height: 70px;
        width: 59px;
        padding-top: 15px;
    }
</style>

{% endblock %}
