{% block banner %}

<p class='banner mb-0 pt-1 pe-0 pb-1 ps-0 text-center'>👆 Yes I know site is not secure once I secure a SWE role I will gladly pay for a Dyno on Heroku!</p>

<style>

.banner {
    background-color: var(--hrColorBeige); 
    font-size: 14px;
    color: var(--hrbgColor);
}

/*=========================================
  Media Queries
/* ======================================
  Breakpoint	      Purpose
  (default)	          Mobile-portrait
  max-width: 480px	  Mobile-landscape (and larger)
  max-width: 576px	  Mobile-landscape (and larger)
  max-width: 768px	  Tablet-portrait (and larger)
  max-width: 992px	  Tablet-landscape (and larger)
  max-width: 1200px	  Laptops (and larger)
  max-width: 1400px	  Laptops (and larger)
========================================= */
@media all and (max-width: 991px) {
    .banner {
      display: none;
    }
  }

</style>

{% endblock %}
