{% block home %}

<section class='blogSection' id='blog'>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <h1 class='blogHeading'>Blog</h1>
                <hr class="hrLineBreak">
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                Blogs comign soon 📝
            </div>
        </div>
        <div class='row pt-5'>
            <div class='col'>
                <p class='text-center'><a class='archiveLink' href="{% url 'blog_index' %}">👀 view the blogs</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %} 
