{% block home %}

<section class='experienceSection' id='experience'>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <h1 class='experienceHeading'>Experience - A 💼 History</h1>
                <hr class="hrLineBreak">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 offset-sm-0 offset-md-0 offset-lg-5">
                <div class='historyBubble TinyOrganicsBG'>
                    <div class='row'>
                        <div class='col-7'>
                            <span>Tiny Organics</span><br>
                            <span>Software Engineer</span>
                        </div>
                        <div class='col-5 text-right mt-2'>
                            <h4>2021-2022</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 offset-sm-0 offset-md-0 offset-lg-4">
                <div class='historyBubble TKHBG'>
                    <div class='row'>
                        <div class='col-7'>
                            <span>The Knowledge House</span><br>
                            <span class='tkhPositionLetterSpace'>Lead Technical Instructor</span>
                        </div>
                        <div class='col-5 text-right mt-2'>
                            <h4>2017-2020</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 offset-sm-0 offset-md-0 offset-lg-3">
                <div class='historyBubble CALAHEBG'>
                    <div class='row'>
                        <div class='col-7'>
                            <span>CALAHE</span><br>
                            <span>Web Master</span>
                        </div>
                        <div class='col-5 text-right mt-2'>
                            <h4>2014-2018</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 offset-sm-0 offset-md-0 offset-lg-2">
                <div class='historyBubble IndependentSoftwareBG'>
                    <div class='row'>
                        <div class='col-7'>
                            <span>Independent Software</span><br>
                            <span>Web Developer Apprentice</span>
                        </div>
                        <div class='col-5 text-right mt-2'>
                            <h4>2015-2016</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 offset-sm-0 offset-md-0 offset-lg-1">
                <div class='historyBubble LiHEBG'>
                    <div class='row'>
                        <div class='col-7'>
                            <span>LatinosinHigherEd.com</span><br>
                            <span>President / Web Master</span>
                        </div>
                        <div class='col-5 text-right mt-2'>
                            <h4>2007-2015</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                <div class='historyBubble PicSpotrBG'>
                    <div class='row'>
                        <div class='col-7'>
                            <span>PicSpotr</span><br>
                            <span>Web Developer Intern</span>
                        </div>
                        <div class='col-4 offset-1 text-right mt-2'>
                            <h4>2014</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
