{% block footer %}

<footer>
    <section class='footerSection'>
        <div class='container'>
            <div class='row'>
                <div class='col'>
                    <h1>Footer section coming soon 🦶</h1>
                </div>
            </div>
        </div>
    </section>
</footer>

<style>
    footer {
        background-color: var(--hrColorBeige); 
        font-size: 14px;
        color: var(--hrbgColor);
    }

    .footerSection {
        margin: var(--hrSectionMargin);
        max-width: var(--hrSectionMaxWidth);
        padding-block: var(--hrFooterSectionPaddingBlock);
    }
</style>

{% endblock %}
