{% block home %}
{% load static %}

<section class='hrSection' id='hero'>
    <div class='container'>
        <div class='row'>
            <div class='col content-tertiary'>
                <p><span>👋 </span> Hi, my name is</p>
            </div>     
        </div>
        <div class='row'>
            <div class='col'>
                <h2>Heriberto Roman.</h2>
            </div>     
        </div>
        <div class='row'>
            <div class='col'>
                <h3>I build for the web.</h3>
            </div>     
        </div>
        <div class='row'>
            <div class='col col-md-10 col-lg-9'>
                <p class='heroBlurb'>
                    I am a <strong>Freelance Frontend Software Engineer</strong>. I design and code beautifully simple things, and I love what I do. 
                    I worked for startups in tech-ed, food tech, and the non-profit sector. I'm equipped with just the right tools and I am passionate about learning from others.
                </p>
            </div>     
        </div>
        <div class='row scroll-downs fixed-bottom'>
            <div class='col mousey'>
                <div class="scroller"></div>  
        </div>
    </div>
</section>

<style>
.hrSection {
    margin: var(--hrSectionMargin);
    max-width: var(--hrSectionMaxWidth);
    padding-block: var(--hrSectionPaddingBlock);

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 3; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 3; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 33; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 3; }
}


h1 {
    color: var(--hrColorOrange);
    font-size: clamp(0.875rem, 2vw, 1.5rem);
    margin-top: 10px;
}

h2 {
    font-size: clamp(30px, 8vw, 58px);
    font-weight: 900;
    margin-top: 10px;
    line-height: 0.9;
}

h3 {
    margin-top: 10px;
    font-size: clamp(30px, 8vw, 58px);
    color: var(--hrTextColorGrey);
}

strong {
    color: var(--hrColorOrange);
}

.heroBlurb {
    margin: 20px 0px 0px;
    color: var(--hrTextColorGrey);
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
}

.scroll-downs {
    margin: auto;
    width :34px;
    height: 55px;
    margin-bottom: 50px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

.content-tertiary p span {
    animation: wobble 2.5s infinite;
    display: inline-block;
}

@keyframes wobble {
    0% {transform: translateZ(0) scale(1);}
    15% {transform: translate3d(-25%,0,0) rotate(-5deg) scale(1.1);}
    30% {transform: translate3d(20%,0,0) rotate(3deg) scale(1.2);}
    45% {transform: translate3d(-15%,0,0) rotate(-3deg) scale(1.3);}
    60% {transform: translate3d(10%,0,0) rotate(2deg) scale(1.2);}
    75% {transform: translate3d(-5%,0,0) rotate(-1deg) scale(1.1);}
    100% {transform: translateZ(0) scale(1);}
}

/*=========================================
  Media Queries
/* ======================================
  Breakpoint	      Purpose
  (default)	          Mobile-portrait
  max-width: 480px	  Mobile-landscape (and larger)
  max-width: 576px	  Mobile-landscape (and larger)
  max-width: 768px	  Tablet-portrait (and larger)
  max-width: 992px	  Tablet-landscape (and larger)
  max-width: 1200px	  Laptops (and larger)
  max-width: 1400px	  Laptops (and larger)
========================================= */
@media all and (max-width: 3000px) and (max-height: 900px) {
    .mousey {
        display: none;
    }
}

@media all and (max-width: 992px) {
    .container {
        max-width: 800px;
    }
}

@media all and (max-width: 768px) and (max-height: 900px) {
    .mousey {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .container {
        max-width: 650px !important;
    }

    h1 {
        font-size: 1.3rem;
    }
    
    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.3rem;
    }
}

@media all and (max-width: 576px) {
    .container {
        max-width: 500px !important;
    }

    h1 {
        margin-bottom: 15px;
    }

    h2 {
        font-size: 2.3rem;
    }
}

@media all and (max-width: 480px) {
    .container {
        max-width: 460px !important;  
    }

    .hrSection {
        padding-top: 114.800;
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.6rem;
    }

    .heroBlurb {
        font-size: 0.8rem;
    }
}

@media all and (max-width: 375px) {
    .hrSection {
        padding-top: 40px !important;
    }
}

</style>

<script>
    $(document).ready(function() {
        $(window).scroll(function(){
            $('.scroll-downs').css("opacity", 1- $(window).scrollTop() / 150)
        })
    })
</script>

{% endblock %}
