{% block home %}
{% load static %}

{% comment %} <ul style="list-style: none;">
    <li><a style="color: #F9E9D5;" target="_blank" href="https://github.com/hroman-codes">GitHub</a></li>
    <li><a style="color: #F9E9D5;" target="_blank" href="https://www.linkedin.com/in/heribertoroman/">LinkedIn</a></li>
    <li><a style="color: #F9E9D5;" target="_blank" href="https://www.youtube.com/channel/UCWLLLB21WpFoNklfx1et25A">YouTube</a></li>
    <li><a style="color: #F9E9D5;" target="_blank" href="https://hroman-codes.medium.com/">Medium</a></li>
    <li><a style="color: #F9E9D5;" target="_blank" href="https://www.credly.com/badges/2bcefd6b-915d-4f5d-8e57-cad453b7dc2f/public_url">AWS Certification</a></li>
</ul> {% endcomment %}
<section class='hrSection'>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <h1>👋 Hi, my name is</h1>
            </div>     
        </div>
        <div class='row'>
            <div class='col'>
                <h2>Heriberto Roman.</h2>
            </div>     
        </div>
        <div class='row'>
            <div class='col'>
                <h3>I build things for the web.</h3>
            </div>     
        </div>
        <div class='row'>
            <div class='col col-md-10 col-lg-8'>
                <p class='heroBlurb'>
                    I am a <strong>Frontend Software Engineer</strong>. I design and code beautifully simple things, and I love what I do. 
                    I worked for startups in tech ed, food tech, and the non-profit sector. I'm equipped with just the right tools and can function independently. 
                    I am passionate about learning from others and advancing my software architecture skills, and cloud computing strategies.
                </p>
            </div>     
        </div>
        <div class='row scroll-downs fixed-bottom'>
            <div class='col mousey'>
                <div class="scroller"></div>  
        </div>
    </div>
</section>

<style>
    .hrSection {
        margin: var(--hrSectionMargin);
        max-width: var(--hrSectionMaxWidth);
        padding-block: var(--hrSectionPaddingBlock);
    }
    
    h1 {
        color: var(--hrColorOrange);
        font-size: clamp(0.875rem, 2vw, 1.5rem);
        margin-top: 10px;
    }

    h2 {
        font-size: clamp(30px, 8vw, 58px);
        font-weight: 900;
        margin-top: 10px;
        line-height: 0.9;
    }

    h3 {
        margin-top: 10px;
        font-size: clamp(30px, 8vw, 58px);
        color: var(--hrTextColorGrey);
    }

    .heroBlurb {
        margin: 20px 0px 0px;
        color: var(--hrTextColorGrey);
        -webkit-font-smoothing: antialiased;
        font-size: 1rem;
    }

    .scroll-downs {
        margin: auto;
        width :34px;
        height: 55px;
        margin-bottom: 50px;
    }

    .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid #fff;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
    }

    .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: #fff;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15,.41,.69,.94);
        animation-iteration-count: infinite;
    }

    @keyframes scroll {
        0% { opacity: 0; }
        10% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(15px); opacity: 0;}
    }

/*=========================================
  Media Queries
/* ======================================
  Breakpoint	      Purpose
  (default)	          Mobile-portrait
  max-width: 480px	  Mobile-landscape (and larger)
  max-width: 576px	  Mobile-landscape (and larger)
  max-width: 768px	  Tablet-portrait (and larger)
  max-width: 992px	  Tablet-landscape (and larger)
  max-width: 1200px	  Laptops (and larger)
  max-width: 1400px	  Laptops (and larger)
========================================= */
    @media all and (max-width: 480px) {
        body {
            background-color: red;
        }
    }

    @media all and (max-width: 768px) {
        .container {
            max-width: 650px !important;
        }
        
        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2.3rem;
        }
    }

    @media all and (max-width: 992px) {
        .container {
            max-width: 800px;
        }
    }
   
</style>

{% endblock %}
