{% extends 'base.html' %}
{% load static %}

{% block title %}Software Development for Growing Businesses | Hroman Codes{% endblock %}

{% block meta_description %}Hroman Codes turns business problems into reliable digital products, practical automation, and scalable software.{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="{% static 'pages/home.css' %}">
{% endblock %}

{% block body_class %}hrBody home-page{% endblock %}

{% block content %}
  {% include 'includes/navbar.html' %}

  <main id="main-content" class="home-main">
    {% include 'includes/hero.html' %}
    {% include 'includes/services.html' %}
    {% include 'includes/case_studies.html' %}
    {% include 'includes/development_process.html' %}
    {% include 'includes/insights.html' %}
    {% include 'includes/about.html' %}
    {% include 'includes/start_project.html' %}
  </main>

  {% include 'includes/footer.html' %}
{% endblock %}

{% block page_scripts %}
  <script src="{% static 'pages/home.js' %}" defer></script>
{% endblock %}
