{% load static %}

<html lang="en">
<head>
    <meta>
    <title>Heriberto Roman</title>
</head>

<body style="margin: 0; text-align: center; background-color: #192A51; color: #F9E9D5;">
    <div>
<!--        <img style="height: 147px; width: 200px;" alt="Image of me" src="{% static 'pages/images/hroman.svg' %}">-->
        <img style="width: 29px;" alt="Image of me" src="{% static 'pages/images/hroman.svg' %}">
<!--        <p style="background-color: #192A51; font-size: 18px; padding: 10px 0 10px 0; border-bottom: 1px solid #F9E9D5;">👆Yes I know site is not secure 😲 once I secure a SWE role I will gladly pay for a Dyno on Heroku 😂</p>-->
    </div>
<!--    <h1>Hello World 👋 🌎</h1>-->
<!--    <img style="width: 15%; height: auto; border-radius: 50% " alt="Image of me" src="{% static 'pages/images/hr.png' %}">-->
<!--    <img style="height: 147px; width: 200px;" alt="Image of me" src="{% static 'pages/images/hroman.svg' %}">-->
<!--        <img style="height: 147px; width: 200px;" alt="Image of me" src="{% static 'pages/images/hromanlong.svg' %}">-->
<!--    <img style="height: 100px; width: 153px;" alt="Image of me" src="{% static 'pages/images/HRLogo.svg' %}">-->
<!--    <p>My name is Heriberto Roman I am a Software Engineer looking for new opportunities.</p>-->
<!--    <p>Feel free to click on the links below to learn more about me:</p>-->
<!--    <ul style="list-style: none;">-->
<!--        <li><a style="color: #F9E9D5;" target="_blank" href="https://github.com/getromandev">GitHub</a></li>-->
<!--        <li><a style="color: #F9E9D5;" target="_blank" href="https://www.linkedin.com/in/heribertoroman/">LinkedIn</a></li>-->
<!--        <li><a style="color: #F9E9D5;" target="_blank" href="https://www.youtube.com/channel/UCWLLLB21WpFoNklfx1et25A">YouTube</a></li>-->
<!--        <li><a style="color: #F9E9D5;" target="_blank" href="https://hroman-codes.medium.com/">Medium</a></li>-->
<!--        <li><a style="color: #F9E9D5;" target="_blank" href="https://www.credly.com/badges/2bcefd6b-915d-4f5d-8e57-cad453b7dc2f/public_url">AWS Certification</a></li>-->
<!--    </ul>-->

    <h4 style="position: fixed; bottom: 0; width: 100%">Site is under construction 🚧 👷</h4>
</body>

</html>

