{% extends 'base.html' %}

{% load static %}
{% block body_content %}
    
    <p style="background-color: #F9E9D5; font-size: 14px; padding: 2px 0 2px 0; color: #192A51; margin-bottom: 0px;">👆Yes I know site is not secure 😲 once I secure a SWE role I will gladly pay for a Dyno on Heroku 😂</p>
    {% include 'navbar.html' %}
    <div style='padding-top: 40px'>
        <img style="width: 15%; height: auto; border-radius: 50% " alt="Image of me" src="{% static 'pages/images/hr.png' %}">
        <h1>Hello World 👋 🌎</h1>
    <p style>My name is Heriberto Roman I am a Software Engineer looking for new opportunities.</p>
    <p>Feel free to click on the links below to learn more about me:</p>
    <ul style="list-style: none;">
        <li><a style="color: #F9E9D5;" target="_blank" href="https://github.com/hroman-codes">GitHub</a></li>
        <li><a style="color: #F9E9D5;" target="_blank" href="https://www.linkedin.com/in/heribertoroman/">LinkedIn</a></li>
        <li><a style="color: #F9E9D5;" target="_blank" href="https://www.youtube.com/channel/UCWLLLB21WpFoNklfx1et25A">YouTube</a></li>
        <li><a style="color: #F9E9D5;" target="_blank" href="https://hroman-codes.medium.com/">Medium</a></li>
        <li><a style="color: #F9E9D5;" target="_blank" href="https://www.credly.com/badges/2bcefd6b-915d-4f5d-8e57-cad453b7dc2f/public_url">AWS Certification</a></li>
    </ul>
    </div>


    <h5 style="position: fixed; bottom: 0; width: 100%">Site is under construction 🚧 👷</h5>


    <style>
        

    </style>
    

{% endblock %}
