{% block home %}
{% load static %}

<section class='workSection timeline' id='work'>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <h1 class='workHeading'>Work 👔</h1>
                <hr class="hrLineBreak">
            </div>
        </div>
        
        <div class='d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block'>
            <ul>
                <li>
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/HromanCodesDemo.gif' %}" alt="Card image cap">
                        <div class="card-body cardBodyHromancodesBG">
                            <h1 class="card-title text-uppercase pb-3">Hroman.codes Portfolio site V2</h1>
                            <p class="card-text pb-3">A Portfolio site for Heriberto Roman that represents relevant work experience, current and past projects, and blog posts.</p>
                            <span class="badge rounded-pill text-bg-primary">HTML</span>
                            <span class="badge rounded-pill text-bg-primary">CSS</span>
                            <span class="badge rounded-pill text-bg-primary">Bootstrap</span>
                            <span class="badge rounded-pill text-bg-primary">Animate.css</span>
                            <span class="badge rounded-pill text-bg-primary">Figma</span>
                            <span class="badge rounded-pill text-bg-primary">Python</span>
                            <span class="badge rounded-pill text-bg-primary">Django</span>
                            <span class="badge rounded-pill text-bg-primary">Heroku</span>
                            <span class="badge rounded-pill text-bg-primary">Django Unit Test</span>
                            <span class="badge rounded-pill text-bg-primary">Django template language</span>
                            <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                <div class='py-1 col'>
                                    <a href="https://github.com/hroman-codes/hrcodes" class="." target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                    <p>Github</p>
                                </div>
                                <div class='py-1 col'>
                                    <a href="http://www.hroman.codes/" class="card-link" target='_blank'><i class="fa-solid fa-link fa-3x pb-2"></i></a>
                                    <p>View</p>
                                </div>
                                <div class='py-1 col'>
                                    <a href="https://www.figma.com/file/WEta53OsXH1s4ATRhpSkpQ/HRoman.Codes?node-id=0%3A1" class="card-link" target='_blank'><i class="fa-brands fa-figma fa-3x pb-2"></i></a>
                                    <p>Figma Design</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/highlanderHomeDemo.gif' %}" alt="Card image cap">
                        <div class="card-body cardBodyHighlanderBG">
                            <h1 class="card-title text-uppercase pb-3">Highlander</h1>
                            <p class="card-text pb-3">A web app for coaches to manage their teams stats, averages, trash talk, and poach players from other teams.</p>
                            <span class="badge rounded-pill text-bg-primary">HTML</span>
                            <span class="badge rounded-pill text-bg-primary">CSS</span>
                            <span class="badge rounded-pill text-bg-primary">Bulma</span>
                            <span class="badge rounded-pill text-bg-danger">jQuery</span>
                            <span class="badge rounded-pill text-bg-danger">Node</span>
                            <span class="badge rounded-pill text-bg-danger">Express</span>
                            <span class="badge rounded-pill text-bg-danger">Morgan</span>
                            <span class="badge rounded-pill text-bg-danger">Knex</span>
                            <span class="badge rounded-pill text-bg-danger">Bookshelf</span>
                            <span class="badge rounded-pill text-bg-danger">Bcrypt</span>
                            <span class="badge rounded-pill text-bg-primary">PostgreSQL</span>
                            <span class="badge rounded-pill text-bg-primary">Heroku</span>
                            <span class="badge rounded-pill text-bg-primary">Mocha</span>
                            <span class="badge rounded-pill text-bg-primary">Chai</span>
                            <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                <div class='py-1 col'>
                                    <a href="https://github.com/hroman-codes/highlander" class="." target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                    <p>Github</p>
                                </div>
                                <div class='py-1 col'>
                                    <a href="https://highlandersport.herokuapp.com/index.html" class="card-link" target='_blank'><i class="fa-solid fa-link fa-3x pb-2"></i></a>
                                    <p>View</p>
                                </div>
                                <div class='py-1 col'>
                                    <a href="https://trello.com/b/p1gqbNtQ/highlander" class="card-link" target='_blank'><i class="fa-brands fa-trello fa-3x pb-2"></i></a>
                                    <p>Trello Board</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/highlanderHomeDemo.gif' %}" alt="Card image cap">
                        <div class="card-body cardBodyHighlanderBG">
                            <h1 class="card-title text-uppercase pb-3">Highlander React/Redux</h1>
                            <p class="card-text mb-0">A web app for coaches to manage their teams stats, averages, trash talk, and poach players from other teams</p><br> 
                            <p class="card-text pb-3">This version was refactored utilizng React/Redux on the client side. </p>
                            <span class="badge rounded-pill text-bg-primary">HTML</span>
                            <span class="badge rounded-pill text-bg-primary">CSS</span>
                            <span class="badge rounded-pill text-bg-primary">Javascript</span>
                            <span class="badge rounded-pill text-bg-danger">React</span>
                            <span class="badge rounded-pill text-bg-danger">Redux</span>
                            <span class="badge rounded-pill text-bg-primary">Bulma</span>
                            <span class="badge rounded-pill text-bg-danger">Node</span>
                            <span class="badge rounded-pill text-bg-danger">Express</span>
                            <span class="badge rounded-pill text-bg-danger">Morgan</span>
                            <span class="badge rounded-pill text-bg-danger">Knex</span>
                            <span class="badge rounded-pill text-bg-danger">Bookshelf</span>
                            <span class="badge rounded-pill text-bg-danger">Bcrypt</span>
                            <span class="badge rounded-pill text-bg-primary">PostgreSQL</span>
                            <span class="badge rounded-pill text-bg-primary">Mocha</span>
                            <span class="badge rounded-pill text-bg-primary">Chai</span>
                            <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                <div class='py-1 col'>
                                    <a href="https://github.com/hroman-codes/highlander-react-redux" class="card-link" target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                    <p>Github</p>
                                </div>
                                <div class='py-1 col'>
                                    <a href="https://trello.com/b/BPRphEZP/highlander-react" class="card-link" target='_blank'><i class="fa-brands fa-trello fa-3x pb-2"></i></a>
                                    <p>Trello Board</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li>
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/hot-cold.gif' %}" alt="Card image cap">
                        <div class="card-body cardBodyHotColdBG">
                            <h1 class="card-title text-uppercase pb-3">Hot Cold React</h1>
                            <p class="card-text mb-0 pb-3">A Hot and Cold guessing game built with React and Redux, the computer randomly selects a number between 1 and 100, and the player then tries to guess the number.</p><br> 
                            <span class="badge rounded-pill text-bg-primary">HTML</span>
                            <span class="badge rounded-pill text-bg-primary">CSS</span>
                            <span class="badge rounded-pill text-bg-primary">React</span>
                            <span class="badge rounded-pill text-bg-primary">Redux</span>
                            <span class="badge rounded-pill text-bg-primary">Enzyme.js</span>
                            <span class="badge rounded-pill text-bg-primary">Netlify</span>
                            <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                <div class='py-1 col'>
                                    <a href="https://github.com/hroman-codes/HotColdReact" class="card-link" target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                    <p>Github</p>
                                </div>
                                <div class='py-1 col'>
                                    <a href="https://hot-cold-react.netlify.app/" class="card-link" target='_blank'><i class="fa-solid fa-link fa-3x pb-2"></i></a>
                                    <p>View</p>
                                </div>
                                <div class='py-1 col'>
                                    <a href="https://trello.com/b/UVbCU8uC/hot-or-cold-react" class="card-link" target='_blank'><i class="fa-brands fa-trello fa-3x pb-2"></i></a>
                                    <p>Trello Board</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/tinyOrganicsDemo.gif' %}" alt="Card image cap">
                        <div class="card-body cardBodyTinyOrganicsBG">
                            <h1 class="card-title text-uppercase pb-3">Tiny Organics Recipe Filter</h1>
                            <p class="card-text mb-0 pb-3">A feature to help Tiny Organics filter out recipes that do NOT contain any ingredients that a child is allergic to. Mock API's for recipes and allergens provided by TinyOrganics.</p><br> 
                            <span class="badge rounded-pill text-bg-primary">HTML</span>
                            <span class="badge rounded-pill text-bg-primary">CSS</span>
                            <span class="badge rounded-pill text-bg-primary">Bootstrap</span>
                            <span class="badge rounded-pill text-bg-primary">Python</span>
                            <span class="badge rounded-pill text-bg-primary">Django</span>
                            <span class="badge rounded-pill text-bg-primary">Heroku</span>
                            <span class="badge rounded-pill text-bg-primary">Django Unit Test</span>
                            <span class="badge rounded-pill text-bg-primary">Django template language</span>
                            <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                <div class='py-1 col'>
                                    <a href="https://github.com/hroman-codes/tinyOrganicsPythonDjango" class="card-link" target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                    <p>Github</p>
                                </div>
                                <div class='py-1 col'>
                                    <a href="https://agile-gorge-80097.herokuapp.com/tinyOrganicApp/" class="card-link" target='_blank'><i class="fa-solid fa-link fa-3x pb-2"></i></a>
                                    <p>View</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/builtByGetromanHomeDemo.gif' %}" alt="Card image cap">
                        <div class="card-body cardBodyBBGBG">
                            <h1 class="card-title text-uppercase pb-3">Getroman.dev Portfolio Site V1</h1>
                            <p class="card-text pb-3">A Portfolio site for Heriberto Roman with emphasis on visual design, React, custom SVG's, and logo creation.</p>
                            <span class="badge rounded-pill text-bg-primary">HTML</span>
                            <span class="badge rounded-pill text-bg-primary">CSS</span>
                            <span class="badge rounded-pill text-bg-primary">Bootstrap</span>
                            <span class="badge rounded-pill text-bg-primary">React</span>
                            <span class="badge rounded-pill text-bg-primary">Jest</span>
                            <span class="badge rounded-pill text-bg-primary">AWS S3</span>
                            <span class="badge rounded-pill text-bg-primary">Figma</span>

                            <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                <div class='py-1 col'>
                                    <a href="https://github.com/hroman-codes/goat" class="." target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                    <p>Github</p>
                                </div>
                                <div class='py-1 col'>
                                    <a href="http://bbgportfoliositeversionone.s3-website-us-east-1.amazonaws.com/" class="card-link" target='_blank'><i class="fa-solid fa-link fa-3x pb-2"></i></a>
                                    <p>View</p>
                                </div>
                                <div class='py-1 col'>
                                    <a href="https://www.figma.com/file/HCPGm864RVZgPHiveMZ2Qg/Getroman?node-id=145%3A974" class="card-link" target='_blank'><i class="fa-brands fa-figma fa-3x pb-2"></i></a>
                                    <p>Figma Design</p>
                                </div>
                                <div class='py-1 col'>
                                    <a href="https://trello.com/b/yDUnv1W9/getromandev-digital-site" class="card-link" target='_blank'><i class="fa-brands fa-trello fa-3x pb-2"></i></a>
                                    <p>Trello Board</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/parkchesterOvalDemo.gif' %}" alt="Card image cap">
                        <div class="card-body cardBodyParkchesterOval">
                            <h1 class="card-title text-uppercase pb-3">Parkchester Oval Flea Market Shopping Cart</h1>
                            <p class="card-text pb-3">A shopping cart built for Parkchester residents in the Bronx.</p>
                            <span class="badge rounded-pill text-bg-primary">HTML</span>
                            <span class="badge rounded-pill text-bg-primary">CSS</span>
                            <span class="badge rounded-pill text-bg-primary">Javascript</span>
                            <span class="badge rounded-pill text-bg-primary">Contentful [Headless CMS]</span>
                            <span class="badge rounded-pill text-bg-primary">Figma</span>
                            <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                <div class='py-1 col'>
                                    <a href="https://github.com/hroman-codes/eCommerceShoppingCart" class="." target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                    <p>Github</p>
                                </div>
                                <div class='py-1 col'>
                                    <a href="https://parkchesteroval-fleamarket.netlify.com/" class="card-link" target='_blank'><i class="fa-solid fa-link fa-3x pb-2"></i></a>
                                    <p>View</p>
                                </div>
                                <div class='py-1 col'>
                                    <a href="https://www.figma.com/file/TA6dNsMmSWJ2Etj6f7Kb1k/ParkChester-Oval?node-id=0%3A1" class="card-link" target='_blank'><i class="fa-brands fa-figma fa-3x pb-2"></i></a>
                                    <p>Figma Design</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class='row pt-5'>
            <div class='col'>
                <p class='text-center'><a class='archiveLink' href="{% url 'archive' %}">view the archive of projects</a></p>
            </div>
        </div>

        {% comment %} MOBILE ☎️ {% endcomment %}
        <div class='text-center d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none'>
            <div class="row">
                <div class="pb-5 col-12 col-md-6">
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/HromanCodesDemo.gif' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class='workCardTextWrapper'>
                                <h1 class="card-title text-uppercase pb-3 mw-25">Hroman.codes Portfolio site V2</h1>
                                <p class="card-text pb-3">A Portfolio site for Heriberto Roman that represents relevant work experience, current and past projects, and blog posts.</p>
                                <div class='workCardPillWrapper'>
                                    <span class="badge rounded-pill text-bg-primary">HTML</span>
                                    <span class="badge rounded-pill text-bg-primary">CSS</span>
                                    <span class="badge rounded-pill text-bg-primary">Bootstrap</span>
                                    <span class="badge rounded-pill text-bg-primary">Animate.css</span>
                                    <span class="badge rounded-pill text-bg-primary">Figma</span>
                                    <span class="badge rounded-pill text-bg-primary">Python</span>
                                    <span class="badge rounded-pill text-bg-primary">Django</span>
                                    <span class="badge rounded-pill text-bg-primary">Heroku</span>
                                    <span class="badge rounded-pill text-bg-primary">Django Unit Test</span>
                                    <span class="badge rounded-pill text-bg-primary">Django template language</span>
                                </div>
                                <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                    <div class='py-1 col'>
                                        <a href="https://github.com/hroman-codes/hrcodes" class="." target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                        <p>Github</p>
                                    </div>
                                    <div class='py-1 col'>
                                        <a href="http://www.hroman.codes/" class="card-link" target='_blank'><i class="fa-solid fa-link fa-3x pb-2"></i></a>
                                        <p>View</p>
                                    </div>
                                    <div class='py-1 col'>
                                        <a href="https://www.figma.com/file/WEta53OsXH1s4ATRhpSkpQ/HRoman.Codes?node-id=0%3A1" class="card-link" target='_blank'><i class="fa-brands fa-figma fa-3x pb-2"></i></a>
                                        <p>Figma Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pb-5 col-12 col-md-6">
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/highlanderHomeDemo.gif' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class='workCardTextWrapper'>
                                <h1 class="card-title text-uppercase pb-3">Highlander</h1>
                                <p class="card-text pb-3">A web app for coaches to manage their teams stats, averages, trash talk, and poach players from other teams.</p>
                                <div class='workCardPillWrapper'>
                                    <span class="badge rounded-pill text-bg-primary">HTML</span>
                                    <span class="badge rounded-pill text-bg-primary">CSS</span>
                                    <span class="badge rounded-pill text-bg-primary">Bulma</span>
                                    <span class="badge rounded-pill text-bg-danger">jQuery</span>
                                    <span class="badge rounded-pill text-bg-danger">Node</span>
                                    <span class="badge rounded-pill text-bg-danger">Express</span>
                                    <span class="badge rounded-pill text-bg-danger">Morgan</span>
                                    <span class="badge rounded-pill text-bg-danger">Knex</span>
                                    <span class="badge rounded-pill text-bg-danger">Bookshelf</span>
                                    <span class="badge rounded-pill text-bg-danger">Bcrypt</span>
                                    <span class="badge rounded-pill text-bg-primary">PostgreSQL</span>
                                    <span class="badge rounded-pill text-bg-primary">Heroku</span>
                                    <span class="badge rounded-pill text-bg-primary">Mocha</span>
                                    <span class="badge rounded-pill text-bg-primary">Chai</span>
                                </div>
                                <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                    <div class='py-1 col'>
                                        <a href="https://github.com/hroman-codes/highlander" class="." target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                        <p>Github</p>
                                    </div>
                                    <div class='py-1 col'>
                                        <a href="https://highlandersport.herokuapp.com/index.html" class="card-link" target='_blank'><i class="fa-solid fa-link fa-3x pb-2"></i></a>
                                        <p>View</p>
                                    </div>
                                    <div class='py-1 col'>
                                        <a href="https://trello.com/b/p1gqbNtQ/highlander" class="card-link" target='_blank'><i class="fa-brands fa-trello fa-3x pb-2"></i></a>
                                        <p>Trello Board</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pb-5 col-12 col-md-6">
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/highlanderHomeDemo.gif' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class='workCardTextWrapper'>
                                <h1 class="card-title text-uppercase pb-3">Highlander React/Redux</h1>
                                <p class="card-text mb-0">A web app for coaches to manage their teams stats, averages, trash talk, and poach players from other teams</p><br> 
                                <p class="card-text pb-3">This version was refactored utilizng React/Redux on the client side. </p>
                                <div class='workCardPillWrapper'>
                                    <span class="badge rounded-pill text-bg-primary">HTML</span>
                                    <span class="badge rounded-pill text-bg-primary">CSS</span>
                                    <span class="badge rounded-pill text-bg-primary">Javascript</span>
                                    <span class="badge rounded-pill text-bg-danger">React</span>
                                    <span class="badge rounded-pill text-bg-danger">Redux</span>
                                    <span class="badge rounded-pill text-bg-primary">Bulma</span>
                                    <span class="badge rounded-pill text-bg-danger">Node</span>
                                    <span class="badge rounded-pill text-bg-danger">Express</span>
                                    <span class="badge rounded-pill text-bg-danger">Morgan</span>
                                    <span class="badge rounded-pill text-bg-danger">Knex</span>
                                    <span class="badge rounded-pill text-bg-danger">Bookshelf</span>
                                    <span class="badge rounded-pill text-bg-danger">Bcrypt</span>
                                    <span class="badge rounded-pill text-bg-primary">PostgreSQL</span>
                                    <span class="badge rounded-pill text-bg-primary">Mocha</span>
                                    <span class="badge rounded-pill text-bg-primary">Chai</span>
                                </div>
                                <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                    <div class='py-1 col'>
                                        <a href="https://github.com/hroman-codes/highlander-react-redux" class="card-link" target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                        <p>Github</p>
                                    </div>
                                    <div class='py-1 col'>
                                        <a href="https://trello.com/b/BPRphEZP/highlander-react" class="card-link" target='_blank'><i class="fa-brands fa-trello fa-3x pb-2"></i></a>
                                        <p>Trello Board</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='pb-5 col-12 col-md-6'>
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/hot-cold.gif' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class='workCardTextWrapper'>
                                <h1 class="card-title text-uppercase pb-3">Hot Cold React</h1>
                                <p class="card-text mb-0">A Hot and Cold guessing game built with React and Redux, the computer randomly selects a number between 1 and 100, and the player then tries to guess the number.</p><br> 
                                <p class="card-text pb-3">The player gets feedback for each guess – "hot" if their guess was close, and "cold" if their guess was far. When the user guesses the secret number, the app lets them know, and they'll have the option to start a new game.</p>
                                <div class='workCardPillWrapper'>
                                    <span class="badge rounded-pill text-bg-primary">HTML</span>
                                    <span class="badge rounded-pill text-bg-primary">CSS</span>
                                    <span class="badge rounded-pill text-bg-primary">React</span>
                                    <span class="badge rounded-pill text-bg-primary">Redux</span>
                                    <span class="badge rounded-pill text-bg-primary">Enzyme.js</span>
                                    <span class="badge rounded-pill text-bg-primary">Netlify</span>
                                </div>
                                <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                    <div class='py-1 col'>
                                        <a href="https://github.com/hroman-codes/HotColdReact" class="card-link" target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                        <p>Github</p>
                                    </div>
                                    <div class='py-1 col'>
                                        <a href="https://hot-cold-react.netlify.app/" class="card-link" target='_blank'><i class="fa-solid fa-link fa-3x pb-2"></i></a>
                                        <p>View</p>
                                    </div>
                                    <div class='py-1 col'>
                                        <a href="https://trello.com/b/UVbCU8uC/hot-or-cold-react" class="card-link" target='_blank'><i class="fa-brands fa-trello fa-3x pb-2"></i></a>
                                        <p>Trello Board</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='pb-5 col-12 col-md-6'>
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/tinyOrganicsDemo.gif' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class='workCardTextWrapper'>
                                <h1 class="card-title text-uppercase pb-3">Tiny Organics Recipe Filter</h1>
                                <p class="card-text mb-0 pb-3">A feature to help TinyOrganics filter out recipes that do NOT contain any ingredients that a child is allergic to. Mock API's for recipes and allergens provided by TinyOrganics.</p><br> 
                                <div class='workCardPillWrapper'>
                                    <span class="badge rounded-pill text-bg-primary">HTML</span>
                                    <span class="badge rounded-pill text-bg-primary">CSS</span>
                                    <span class="badge rounded-pill text-bg-primary">Bootstrap</span>
                                    <span class="badge rounded-pill text-bg-primary">Python</span>
                                    <span class="badge rounded-pill text-bg-primary">Django</span>
                                    <span class="badge rounded-pill text-bg-primary">Heroku</span>
                                    <span class="badge rounded-pill text-bg-primary">Django Unit Test</span>
                                    <span class="badge rounded-pill text-bg-primary">Django template language</span>
                                </div>
                                    <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                    <div class='py-1 col'>
                                        <a href="https://github.com/hroman-codes/HotColdReact" class="card-link" target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                        <p>Github</p>
                                    </div>
                                    <div class='py-1 col'>
                                        <a href="https://hot-cold-react.netlify.app/" class="card-link" target='_blank'><i class="fa-solid fa-link fa-3x pb-2"></i></a>
                                        <p>View</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='pb-5 col-12 col-md-6'>
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/builtByGetromanHomeDemo.gif' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class='workCardTextWrapper'>
                                <h1 class="card-title text-uppercase pb-3">Getroman.dev Portfolio Site V1</h1>
                                <p class="card-text pb-3">A Portfolio site for Heriberto Roman with emphasis on visual design, React, custom SVG's, and logo creation.</p>
                                <div class='workCardPillWrapper'>
                                    <span class="badge rounded-pill text-bg-primary">HTML</span>
                                    <span class="badge rounded-pill text-bg-primary">CSS</span>
                                    <span class="badge rounded-pill text-bg-primary">Bootstrap</span>
                                    <span class="badge rounded-pill text-bg-primary">React</span>
                                    <span class="badge rounded-pill text-bg-primary">Jest</span>
                                    <span class="badge rounded-pill text-bg-primary">AWS S3</span>
                                    <span class="badge rounded-pill text-bg-primary">Figma</span>
                                </div>
                                <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                    <div class='py-1 col'>
                                        <a href="https://github.com/hroman-codes/goat" class="." target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                        <p>Github</p>
                                    </div>
                                    <div class='py-1 col'>
                                        <a href="http://bbgportfoliositeversionone.s3-website-us-east-1.amazonaws.com/" class="card-link" target='_blank'><i class="fa-solid fa-link fa-3x pb-2"></i></a>
                                        <p>View</p>
                                    </div>
                                    <div class='py-1 col'>
                                        <a href="https://www.figma.com/file/HCPGm864RVZgPHiveMZ2Qg/Getroman?node-id=145%3A974" class="card-link" target='_blank'><i class="fa-brands fa-figma fa-3x pb-2"></i></a>
                                        <p>Figma Design</p>
                                    </div>
                                    <div class='py-1 col'>
                                        <a href="https://trello.com/b/yDUnv1W9/getromandev-digital-site" class="card-link" target='_blank'><i class="fa-brands fa-trello fa-3x pb-2"></i></a>
                                        <p>Trello Board</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='pb-5 col-12 col-md-6'>
                    <div class="card text-center border-0 workCard">
                        <img class="card-img-top rounded-0" src="{% static 'pages/images/parkchesterOvalDemo.gif' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class='workCardTextWrapper'>
                                <h1 class="card-title text-uppercase pb-3">Parkchester Oval Flea Market Shopping Cart</h1>
                                <p class="card-text pb-3">A shopping cart built for Parkchester residents in the Bronx.</p>
                                <div class='workCardPillWrapper'>
                                    <span class="badge rounded-pill text-bg-primary">HTML</span>
                                    <span class="badge rounded-pill text-bg-primary">CSS</span>
                                    <span class="badge rounded-pill text-bg-primary">Javascript</span>
                                    <span class="badge rounded-pill text-bg-primary">Contentful [Headless CMS]</span>
                                    <span class="badge rounded-pill text-bg-primary">Figma</span>
                                </div>
                                <div class="experienceButtonGroup text-center row pt-5" role="group" aria-label="Basic outlined example">
                                    <div class='py-1 col'>
                                        <a href="https://github.com/hroman-codes/eCommerceShoppingCart" class="." target='_blank'><i class="fa-brands fa-github fa-3x pb-2"></i></a>
                                        <p>Github</p>
                                    </div>
                                    <div class='py-1 col'>
                                        <a href="https://parkchesteroval-fleamarket.netlify.com/" class="card-link" target='_blank'><i class="fa-solid fa-link fa-3x pb-2"></i></a>
                                        <p>View</p>
                                    </div>
                                    <div class='py-1 col'>
                                        <a href="https://www.figma.com/file/TA6dNsMmSWJ2Etj6f7Kb1k/ParkChester-Oval?node-id=0%3A1" class="card-link" target='_blank'><i class="fa-brands fa-figma fa-3x pb-2"></i></a>
                                        <p>Figma Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <div>
            <div class='row pt-5'>
                <div class='col'>
                    <p class='text-center'><a class='archiveLink' href="{% url 'archive' %}">view the archive of projects</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    (function() {

        'use strict';
      
        var items = document.querySelectorAll(".timeline li");
   
        function isElementInViewport(el) {
          var rect = el.getBoundingClientRect();

          return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
          );
        }
      
        function callbackFunc() {
          for (var i = 0; i < items.length; i++) {
            if (isElementInViewport(items[i])) {
              items[i].classList.add("in-view");
            }
          }
        }
      
        // listen for events'
        window.addEventListener("load", callbackFunc);
        window.addEventListener("resize", callbackFunc);
        window.addEventListener("scroll", callbackFunc);
      
      })();
</script>


{% endblock %}
